<ion-view view-title="Quizz" hide-back-button="true">
  <ion-content class="padding">
    <br>
    <h3 class="title-item item item-divider">Choisis ta matière</h3>

    <ion-list class="padding">
      <ion-item ng-repeat="course in courses" ng-click="go('tab.quiz-list', {idCourse: course.id})" style="margin-top:8px;" class=" item-icon-right course-list" ng-class="classes[$index % classes.length]">
        <b>{{course.name | uppercase}}</b>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
