<body ng-app="capMission.parent">
<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" href="#/parent" ng-click="popover.hide()">
        Profil
      </a>
      <!--a class="item"  ng-click="popover.hide()">
        Solde
      </a-->
      <a class="item" href="#/apropos"  ng-click="popover.hide()">
        A propos
      </a>

      <a class="item" href="#/logout/logout.js" ng-click="popover.hide()" >
        Quitter l'application
      </a>

    </div>
  </ion-content>
</ion-popover-view>
</body>
