<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" href="#/tab/profile" target="_blank">
        Profil
      </a>
      <a class="item" href="http://ionicframework.com/docs/" target="_blank">
        Solde
      </a>
      <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
        Paramètres
      </a>
      <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
        Quitter l'application
      </a>
    </div>
  </ion-content>
</ion-popover-view>
