<body ng-app="capMission">
<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" href="#/student/profil" ng-click="popover.hide()">
        Profil
      </a>
      <a class="item" href="#/student/solde" ng-click="popover.hide()">
        Solde
      </a>
      <a class="item" href="#/student/profil" ng-click="popover.hide()">
        Paramètres
      </a>

      <a class="item" href="#/logout/logout.js" ng-click="popover.hide()" >
        Quitter l'application
      </a>

    </div>
  </ion-content>
</ion-popover-view>
</body>
