<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <!-- Home Tab -->
  <ion-tab href="#/tab/home" hidden="true">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- quiz Tab -->
  <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" href="#/tab/quiz" badge="badgequiz"
           badge-style="badge-assertive">
    <ion-nav-view name="tab-quiz"></ion-nav-view>
  </ion-tab>

  <!-- Follow Tab -->
  <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/follow" badge="badgeFollow"
           badge-style="badge-assertive">
    <ion-nav-view name="tab-follow"></ion-nav-view>
  </ion-tab>

  <!-- Stats Tab -->
  <ion-tab title="Stats" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/stats">
    <ion-nav-view name="tab-stats"></ion-nav-view>
  </ion-tab>

  <!-- Messages Tab -->
  <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/tab/message"
           badge="badgeMessages" badge-style="badge-assertive">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>

</ion-tabs>
