.logo-nav {
  height: 30px;
  width: auto;
}

/* GENERAL */

h4 label {
  font-size: inherit
}

h4 label.icon-label {
  position: relative;
  left: 10px;
  top: -10px;
}

.validate-button {
  position: absolute;
  right: 20px;
  bottom: 70px
}

/* UTILS */

.grey {
  color: #444444;
}

.fs-xxxl {
  font-size: 80px;
}

.fs-xxl {
  font-size: 70px;
}

.fs-xl {
  font-size: 60px;
}

.fs-l {
  font-size: 50px;
}

.fs-m {
  font-size: 40px;
}

.fs-s {
  font-size: 30px;
}

.fs-xs {
  font-size: 20px;
}

.fs-xxs {
  font-size: 10px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.ion-record.number:after {
  font-size: 50%;
  position: relative;
  left: -20px;
  font-weight: 600;
  top: 0;
  color: #fff;
}

.ion-record.number.one:after {
  content: '1';
}

.ion-record.number.two:after {
  content: '2';
}

.course-list {
  border-radius: 10px 10px!important;
  border: none;
  color: #fff;
  margin-top:8px;
}

.course-list a {
  background-color: inherit !important;
}

.course-list i {
  color:inherit!important;
}

.answers-list {
  margin-top:20px;
  border-radius: 10px 10px!important;
}

.title-item {
  font-size: 18px;
}


.correct-answer {
  background-color: #dff0d8;
}

.wrong-answer {
  background-color: #b56861;
}

.point-arrow {
  position: relative;
  top: -3px;
}

.point-arrow.left {
  left:-5px;
}

.point-arrow.right {
  left: 5px;
}

.point-questions {
  width:80%;
  height:20px;
  overflow: hidden;
}

.point-questions p {
  white-space: nowrap;
}

.tabs {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.tabs-item-hide > .tabs {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  bottom: -49px;
  display: flex;
}
.title-image {
  margin-top: 8px;
  height: 27px;
}
.info, .success, .warning, .error, .validation {
  /*border: 1px solid;*/
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('info.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('success.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('warning.png');
}
.error {
  color: #D8000C;
  /*background-color: #fff5f0;*/
  background-image: url('error.png');
}
ion-content{
  padding: 3%;
}
.iMod {
 /* width: 100%;
  height: 100%;*/
  /*font-size: 0.0em;*/
  text-align: right;
  display: block;

}
.iModM {
  width: 100%;
   height: 100%;
  font-size: 2.0em;
  text-align: right;
  display: block;

}
.divChoix {
  font-size:small;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #E74F11;
  font-weight:normal;

}
.divEmploi {
  font-size:medium;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #E74F11;
  font-weight:normal
}
.divCard {
  border-style: double;
  border-color:#350012;

}

.divCard2 {
  border-style: hidden;
  font-size: large;
  font-family: serif;
}

.cardD {
  margin-bottom: 2px;
}

.item1 {
  border-style: hidden;
  font-size: small;
  font-family: sans-serif;
  background-color: #c4d2f7;
}
.divItem {

    width: 100%;
    height: 100%;
    font-size: small;
    font-family: sans-serif;
    font-size: small;
  background-color: #ccdaff;
    /*text-align: center;
    vertical-align: middle;*/
}

.divItemS {

  width: 100%;
  height: 100%;
  font-size: small;
  font-family: sans-serif;
  font-size: small;
  background-color: #afafaf;
  /*text-align: center;
  vertical-align: middle;*/
}

.divItem1 {

  width: 100%;
  height: 100%;
  font-size: smaller;
  font-family: sans-serif;
  background-color: #ccdaff;
  /*text-align: center;
  vertical-align: middle;*/
}

.TextS {
  text-align: left;
  font-size: smaller;
  position: relative;

}

.inline {
  display: inline-block;
  margin: 6px;
}

.positiveSolde {
  /*font-size: 100%;*/
  color: #6d8fd1;
  /*position: relative;*/
}

.negativeSolde {
  /*font-size: 100%;*/
  color: #fa1a18;
  /*position: relative;*/
}

.Quit {

  position: absolute;
  bottom: 0;

}

.TextS1 {
  text-align: left;
  font-size: smaller;
  position: relative;
  white-space: nowrap;
}

.TextS2 {
  text-align: left;
  position: relative;
  white-space: nowrap;
}

.Solde {
  font-size: 120%;
  color: #d11a18;
  position: relative;
  white-space: nowrap;
}


.divRole{
  font-size:small;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #E74F11;
  font-weight:normal;
}
.buttonEmp {
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  color: #E74F11;
}

.profilLegend{
  font-weight: 800;
  font-family: serif;
  color:#E74F11;
}
.legendP {
  border-style: hidden;
}

i.ion-more {
  font-size: 100%;
  padding-left: 250px;
}

.aLeft {
  padding-left: 50px;
}

.aRight {
  padding-right: 180px;
}
.labelF{
  color:#6c948e;
  font-size: medium
}

a:link {
  color: #d11a18;
}

/* visited link */
a:visited {
  color: #d11a18;
}

/* mouse over link */
a:hover {
  color: #98a98c;
}

/* selected link */
a:active {
  color: blue;
}

.titleM{
  background-color: #E74F11;
}

/*ion-modal-view{
  width: 90%;
  height: 90%;
  top : 0 ;
  left : 0 ;

}*/

.modal{
    width: 90%;
    height: 70%;
    top: 10%;
    bottom: 10%;
    left: 5%;
    right: 5%;
    min-height: 0;
    border-radius: 8px;
    overflow:hidden;

  }
.modalP{
  width: 90%;
  height: 90%;
  top: 10%;
  bottom: 10%;
  left: 5%;
  right: 5%;
  min-height: 0;
  border-radius: 8px;
  overflow:hidden;

}

.iModP{
  text-align: right;
  width: 100%;
  height: 100%;
}
span {
  margin: 0 10px;
}

span:first-of-type{
  margin-left: 0;
}

span:last-of-type{
  margin-right: 0;
}

.headerModal{
  font-size: smaller;
  color:#E74F11;
}

.cancel{
  text-align: right;
  width: 100%;
  height: 100%;
  font-size: medium;
}

.updateIcon {
  padding-left: 90%;
  align-items: baseline;
  font-size: 1.80em;
  color:#E74F11;

}

.edit{
  border: 1px solid #E74F11;
  padding: 5px 20px;
  width: 50px;
  border-radius: 25px;
  font-size: smaller;
}
.transparent {
  background-color: transparent !important;
}

.close-modal {
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 1.8em;
  text-align: center;
  z-index: 10;
  background-color: #f5f5f5;
  border-radius: 30px;
  width: 26px;
  cursor: pointer;
  line-height: 0px;
  border: 1px solid #ddd;
}
/* Fix modal backdrop for smaller devices */

/*@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}*/

.buttonEmail {
  border: none;
  padding: 8px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 220px;
  border-radius: 12px;
}

.buttonEmail2 {
  border: none;
  padding: 8px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 100px;
  border-radius: 12px;
}

/*@media (min-width: 680px) {
  .modalSize {
    top: 20px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
}*/

textarea {
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 2px solid #556677;
}

.left {
  width: 140px;
  float: left;
  height: 100%;
}

.right {
  margin-left: 140px;
}

span:nth-of-type(2) {
  padding: 0 46px
}

.btnRight {
  padding-right: 5px;
  padding-left: 60px;

}

.btnLeft {
  padding-left: 5px;
  padding-right: 60px;
}

/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  height:15px;
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

.css-label{
  background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

/*specific classes related to Checkbox skins*/

.lite-green-check{background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png);}
.lite-blue-check{background-image:url(http://csscheckbox.com/checkboxes/lite-blue-check.png);}
.lite-gray-check{background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png);}
.lite-cyan-check{background-image:url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);}
.lite-orange-check{background-image:url(http://csscheckbox.com/checkboxes/lite-orange-check.png);}
.lite-red-check{background-image:url(http://csscheckbox.com/checkboxes/lite-red-check.png);}

.lite-x-cyan{background-image:url(http://csscheckbox.com/checkboxes/lite-x-cyan.png);}
.lite-x-gray{background-image:url(http://csscheckbox.com/checkboxes/lite-x-gray.png);}
.lite-x-blue{background-image:url(http://csscheckbox.com/checkboxes/lite-x-blue.png);}
.lite-x-orange{background-image:url(http://csscheckbox.com/checkboxes/lite-x-orange.png);}
.lite-x-red{background-image:url(http://csscheckbox.com/checkboxes/lite-x-red.png);}
.lite-x-green{background-image:url(http://csscheckbox.com/checkboxes/lite-x-green.png);}

.mac-style{background-image:url(http://csscheckbox.com/checkboxes/mac-style.png);}
.mario-style{background-image:url(http://csscheckbox.com/checkboxes/mario-style.png);}
.alert-style{background-image:url(http://csscheckbox.com/checkboxes/alert-style.png);}
.lite-plus{background-image:url(http://csscheckbox.com/checkboxes/lite-plus.png);}
.dark-plus{background-image:url(http://csscheckbox.com/checkboxes/dark-plus.png);}
.dark-plus-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-cyan.png);}
.dark-plus-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-orange.png);}
.dark-check-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png);}
.dark-check-green{background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);}
.dark-check-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-check-orange.png);}


.depressed-lite-small{background-image:url(http://csscheckbox.com/checkboxes/depressed-lite-small.png);}
.elegant{background-image:url(elegant.png);}
.depressed{background-image:url(http://csscheckbox.com/checkboxes/depressed.png);}
.chrome-style{background-image:url(http://csscheckbox.com/checkboxes/chrome-style.png);}
.web-two-style{background-image:url(http://csscheckbox.com/checkboxes/web-two-style.png);}
.vlad{background-image:url(http://csscheckbox.com/checkboxes/vlad.png);}
.klaus{background-image:url(http://csscheckbox.com/checkboxes/klaus.png);}

input[type=checkbox].css-checkbox.med + label.css-label.med {
  padding-left:22px;
  height:17px;
  display:inline-block;
  line-height:17px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

  background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
  padding-left:22px;
  height:16px;
  display:inline-block;
  line-height:16px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

  background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
  padding-left:22px;
  height:20px;
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

  background-position: 0 -20px;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
  background-color: lightgrey;
  text-align: center;
}

.col {
  border-bottom-style: none;
  border-right-style: none;
  text-align: center;
  display: inline-block
}

.col:last-child {
  display: inline-block
}

.row:last-child .col {
  display: inline-block
}

.grise {
  border: 1px solid black;
  background-color: silver;
}

.blue {
  border: 1px solid blue;
}

.none {
  border-style: none;
}

#holder {
  position: fixed;
  width: 100%;
}

#holder1 {
  position: fixed;
  width: 100%;
}

#header {

}

.notify {
  height: 300px;
  overflow: hidden;
}

.card {
  margin-bottom: -15px;
}

/*
.fixed-header{
  margin-top:43px;
  /!*
   The ionic header bar is 43px in height,
   put your content below the header bar.
  *!/
}
.platform-webview.platform-ios.platform-cordova .fixed-header{
  margin-top:63px;
  /!* On iOS, moving a div out of ion-content,
  I think you need to compensation for the 20px system status bar.
  so it's 43px+20px=63px. but I'm not so sure, it hasn't been tested.
  Test it yourself and make modifications if needed.
  *!/
}

.my-video
{
  height:200px;
  width:100%;
  position:absolute;
}

.ion-content-below-my-video{
  margin-top:200px!important;
}

.platform-webview.platform-ios.platform-cordova .ion-content-below-my-video{
  margin-top:220px;
  /!*
  Same as .fixed-header
  *!/
}
*/
.theroot {
  height: 300px;
}

#foo {
  font-size: medium;
  color: #8B0000;
  position: fixed;
  bottom: 5px;
  right: 12px;
}

.iconSize2 {
  display: inline-block;
  font-size: 1.20em;
  color: #E74F11;


}

.divText {
  padding: 10px;
  /*text-align: justify;*/
}

.h5Title {
  text-align: center;
  color: red;
  text-decoration: underline;
}

ul.b {
  list-style-type: square;
  padding: 10px;
}

ul.a {
  list-style-type: circle;
  padding: 20px;
}

.decor {
  text-decoration: underline;
  font-weight: bold;
}

ion-popover-view.fit {
  height: auto;
  margin-top: 10px;
}

ion-popover-view.fit ion-content {
  position: relative;
}
.errror{
  color:red !important;
  text-align: center;
  margin-top: 5px;
}
.pagText {
  font-size: smaller;
  text-align:center;
}
#idLeft{
  float: left;
}
#idRight{
  float: right;
}

.customTrans {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/*.cont {
  padding-left: 6px;
  float : left;
  clear : left;
}*/
.textPop {
  font-size: 10px;
  color: #E74F11;
  display: inline-block;
  margin-top: -10px;
  padding-left: 10px;
  margin-bottom: -10px;
}

.iconSize {
  font-size: 20px;
  display: inline-block;
  /*float : left;
  clear : left;*/
}

/* css pour la page Contact.html*/
.contact {
  color: #E74F11;
}

#consigneContact {
  margin-bottom: 20px;
  margin-left: 4px;
}

#footer {
  overflow: hidden;
  border-top: none !important;
  border-bottom-color: transparent !important;
  border-color: transparent !important;
  border: 0px !important;
  background-image: none !important;
  background-size: 100% 0px;
}

.info-image {
  width: 35px;
  height: 35px;
}

.rem-image {
  width: 35px;
  height: 35px;
  left: 100px;
}

#ic1 {
  overflow: hidden;
  border-bottom-color: transparent !important;
  border-top: none !important;;
  border-color: transparent !important;
  border: 0px !important;
  background-size: 100% 0px;
}

#ic2 {
  overflow: hidden;
  border-bottom-color: transparent !important;
  border-top: none !important;;
  border-color: transparent !important;
  border: 0px !important;
  background-size: 100% 0px;
}

/* css pour la page remarque.html */
#red {
  color: red;
}

#blue {
  color: darkblue;
}

#listeDeroulante {
  margin-bottom: -5px;

}

ion-popover-view.fit1 {
  height: auto !important;
  line-height: 10%;
}

ion-popover-view.fit1 ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit1 {
  margin-top: 10px !important;
}

.pText {
  text-align: justify;
  text-indent: 30px;

}

/*css pour instruction orange*/
#instruc{
  color: #E74F11;
}
#formBlanc{
  background-color: #D8D8D8;
  border-radius: 2px;
  height: 20px;
  width: 120px;
  float: right;
}
#lab{
  margin-bottom: 5px;
  font-size: 13px;
}
#jour{
  border: transparent !important;
  overflow: hidden;
  border-top: transparent !important;
}
#iconC{
  font-size: 25px;
}
#listRecap{
  margin-bottom: -15px;
}
.buttonAdd {
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  color: green;
}
.buttonSupp {
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  color: red;
}
#instruc1{
  color: #E74F11;
  padding-bottom: 5px;
  padding-top: 5px;
}
#instruc2{
  color: #E74F11;
  margin-bottom: 5px;
}
.buttonEmp1 {
  width: 48%;
  height: 100%;
  background-color: #e7e7e7;
  color: #E74F11;
  float: left;
  overflow: hidden;
  margin-left: 5px;
  /*display: inline;*/
}
#txtarea{
  width: 85%;
  display: block;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #556677;
}
#tableau, td, tr{
  border: 1px solid black;
  padding: 5px;
}
#indisp{
  background-color: red;
}
#disp{
  background-color: green;
}
.droite{
  float: right;
}

.capitalize {
  text-transform: capitalize;
}

/*.idOublie{*/
  /*float: left;*/
/*}*/

.buttonEmp2{
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  color: #E74F11;
  font-size: 110%;
}

#checkbox65{
  font-size: 100%;
  color: #E74F11;
}

.buttonEmp3{
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  font-size: 110%;
}

#erreur{
  color: #BDBDBD;
}

.buttonCalendar{
  background-color: #e7e7e7;
  border-width: 1px;
  border-style: solid;
  border-color: #BDBDBD;
}

.sousTitre{
  color: #BDBDBD;
}

#imgClass{
  background-color: black;
}

.img1Home{
  z-index: 3;
  width: 100%;
  height: auto;
}

#imgHome{
  width: 100%;
  height: auto;
}

#img1Home{
  width: 100%;
  height: auto;
}

#combo{
  background-color: #e7e7e7;
}

#instruc3{
  color: #E74F11;
  float: right;
}

.formBlanc:focus {
  background-color: #E74F11;
}

#titrePara{
  color: #2E2E2E;
}

#instruc4{
  color: #E74F11;
  float: left;
}

#sousTitre{
  color: #A4A4A4;
  font-size: 80%;
}







/*css pour checkbox */
.squaredThree {
  width: 20px;
  margin: 20px auto;
  position: relative;
}

.squaredThree label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  border-radius: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredThree label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* div card ajout cours*/

.divCours {
  margin-left: auto;
  margin-right: auto;
}
.divCoursType{
  text-align: center;
}

.selectItem {
  background-color: #e5e8d9;
}

