.logo-nav {
  height: 30px;
  width: auto;
}

/* GENERAL */

h4 label {
  font-size: inherit
}

h4 label.icon-label {
  position: relative;
  left: 10px;
  top: -10px;
}

.validate-button {
  position: absolute;
  right: 20px;
  bottom: 70px
}

/* UTILS */

.grey {
  color: #444444;
}

.fs-xxxl {
  font-size: 80px;
}

.fs-xxl {
  font-size: 70px;
}

.fs-xl {
  font-size: 60px;
}

.fs-l {
  font-size: 50px;
}

.fs-m {
  font-size: 40px;
}

.fs-s {
  font-size: 30px;
}

.fs-xs {
  font-size: 20px;
}

.fs-xxs {
  font-size: 10px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.ion-record.number:after {
  font-size: 50%;
  position: relative;
  left: -20px;
  font-weight: 600;
  top: 0;
  color: #fff;
}

.ion-record.number.one:after {
  content: '1';
}

.ion-record.number.two:after {
  content: '2';
}

.course-list {
  border-radius: 10px 10px!important;
  border: none;
  color: #fff;
  margin-top:8px;
}

.course-list a {
  background-color: inherit !important;
}

.course-list i {
  color:inherit!important;
}

.answers-list {
  margin-top:20px;
  border-radius: 10px 10px!important;
}

.title-item {
  font-size: 18px;
}


.correct-answer {
  background-color: #dff0d8;
}

.wrong-answer {
  background-color: #b56861;
}

.point-arrow {
  position: relative;
  top: -3px;
}

.point-arrow.left {
  left:-5px;
}

.point-arrow.right {
  left: 5px;
}

.point-questions {
  width:80%;
  height:20px;
  overflow: hidden;
}

.point-questions p {
  white-space: nowrap;
}

.tabs {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.tabs-item-hide > .tabs {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  bottom: -49px;
  display: flex;
}
.title-image {
  margin-top: 8px;
  height: 27px;
}
.info, .success, .warning, .error, .validation {
  /*border: 1px solid;*/
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('info.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('success.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('warning.png');
}
.error {
  color: #D8000C;
  /*background-color: #fff5f0;*/
  background-image: url('error.png');
}
ion-content{
  padding: 3%;
}
.iMod {
 /* width: 100%;
  height: 100%;*/
  /*font-size: 0.0em;*/
  text-align: right;
  display: block;

}
.iModM {
  width: 100%;
   height: 100%;
  font-size: 2.0em;
  text-align: right;
  display: block;

}
.divChoix {
  font-size:small;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #d76c1f;
  font-weight:normal;

}
.divEmploi {
  font-size:medium;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #d76c1f;
  font-weight:normal
}
.divCard {
  border-style: double;
  border-color:#350012;

}

.divItem {

    width: 100%;
    height: 100%;
    font-size: small;
    font-family: sans-serif;
    font-size: small;
    background-color: #acbca0;
    /*text-align: center;
    vertical-align: middle;*/
}

.TextS {
  text-align: left;
  font-size: smaller;
  position: relative;

}

.divRole{
  font-size:small;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #d76c1f;
  font-weight:normal;
}
.buttonEmp {
  width: 100%;
  height: 100%;
  background-color: #70b3ff;
}
.profilLegend{
  font-weight: 800;
  font-family: serif;
  color:#d76c1f;
}
.legendP {
  border-style: hidden;
}
.labelF{
  color:#6c948e;
  font-size: medium
}

a:link {
  color: #d11a18;
}

/* visited link */
a:visited {
  color: #d11a18;
}

/* mouse over link */
a:hover {
  color: #98a98c;
}

/* selected link */
a:active {
  color: blue;
}

.titleM{
  background-color: #CD853F;
}

/*ion-modal-view{
  width: 90%;
  height: 90%;
  top : 0 ;
  left : 0 ;

}*/

.modal{
    width: 90%;
    height: 70%;
    top: 10%;
    bottom: 10%;
    left: 5%;
    right: 5%;
    min-height: 0;
    border-radius: 8px;
    overflow:hidden;

  }
.modalP{
  width: 90%;
  height: 90%;
  top: 10%;
  bottom: 10%;
  left: 5%;
  right: 5%;
  min-height: 0;
  border-radius: 8px;
  overflow:hidden;

}

.iModP{
  text-align: right;
  width: 100%;
  height: 100%;
}
span {
  margin: 0 10px;
}

span:first-of-type{
  margin-left: 0;
}

span:last-of-type{
  margin-right: 0;
}

.headerModal{
  font-size: smaller;
  color:#CD853F;
}

.cancel{
  text-align: right;
  width: 100%;
  height: 100%;
  font-size: medium;
}

.updateIcon {
  padding-left: 90%;
  align-items: baseline;
  font-size: 1.5em;

}
.transparent {
  background-color: transparent !important;
}

.close-modal {
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 1.8em;
  text-align: center;
  z-index: 10;
  background-color: #f5f5f5;
  border-radius: 30px;
  width: 26px;
  cursor: pointer;
  line-height: 0px;
  border: 1px solid #ddd;
}
/* Fix modal backdrop for smaller devices */

/*@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}*/

.buttonEmail {
  border: none;
  padding: 8px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 220px;
  border-radius: 12px;
}

.buttonEmail2 {
  border: none;
  padding: 8px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 100px;
  border-radius: 12px;
}

@media (min-width: 680px) {
  .modalSize {
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
  }
}

textarea {
  display: block;
  box-sizing: padding-box;
  overflow: hidden;

  padding: 10px;
  width: 4000px;
  font-size: 14px;
  margin-left: 1px;
  border-radius: 8px;
  border: 2px solid #556677;
}

.left {
  width: 140px;
  float: left;
  height: 100%;
}

.right {
  margin-left: 140px;
}


