<ion-view  title='<img class="title-image" src="parent/icon.png"> Cap Mission </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>


    <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <!-- <ion-tab title="Résultats" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" ng-click="onTabSelected()">

     </ion-tab>-->


    <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
             badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>

    <ion-tab title="Solde" icon-off="icon ion-ios-calculator-outline" icon-on="icon ion-ios-calculator"
             ng-click="onTabSelected()">

    </ion-tab>


  </ion-tabs>
  <br>

  <ion-content>
    <br><br><br>
    <div class="divEmploi"><i class="ion-calendar">&nbsp;Planning</i></div><br>
    <!--<div><p>Vous voulez modifier ou annuler une séance? Cliquer sur <i class="icon ion-compose"></i> à côté de la séance concernée pour nous envoyer un message pour plus de détails !</p><br></div>-->
    <div  class="card divCard item-text-wrap"
          ng-repeat="timetables in teacher.entity.timetables | orderBy:'start'"
          ng-if="timetables.start >  now">

      <div  class="item item-divider divItem item-icon-right">
        <a href="#" ng-app="capMission.teacher" ng-controller="TEmailController" ng-click="modal.show();getT(timetables.id,timetables.name,timetables.start)"><i class="icon ion-compose iMod"></i></a>
        <div class="TextS">
          {{timetables.start  | date: 'EEEE dd MMMM'}}&nbsp;&nbsp;{{timetables.start | date: 'HH:mm'}}&nbsp;-
          {{timetables.end  | date: 'HH:mm'}}&nbsp;&nbsp;<strong> {{timetables.name}} </strong></div>
      </div>
    </div>
    <!--pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize"
                class="pagination-small"
                data-previous-text="&laquo;" data-next-text="&raquo;"></pagination-->
    <script id="templates/modalT.html" type="text/ng-template">
      <div class="modal">
      <ion-modal-view >
        <ion-header-bar class="bar bar-header bar-stable">
          <div class="headerModal">Vous voulez modifier ou supprimer cette séance? Envoyez-nous un message !</div>
          <div><h1 class="title"></h1>
            <i class="icon ion-ios-close close-modal" ng-click="modal.hide()"></i>

         </div>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <form name="myForm" novalidate>
              <input ng-model="id" type="hidden">
              <input ng-model="period" type="hidden">
              <input ng-model="debut" type="hidden">
              <input ng-model="mail.to" type="hidden">
              <input ng-model="mail.from" type="hidden">
              <input ng-model="mail.subject" type="hidden">
              <label class="item item-input item-floating-label">
                <span class="input-label">Message</span>
                <textarea name="msg" ng-model="mail.body" placeholder="Votre message" required></textarea>
              </label>
              <button ng-disabled="myForm.$invalid" class="button button-full button-stable buttonEmp" ng-click="sendT(mail,id,period,debut);modal.hide()">Envoyer</button>
              <!--<button class="button button-clear button-primary" ng-click="modal.hide()">Annuler</button>-->
            </form>
            <div class="padding">
              <p ng-show="myForm.msg.$error.required">* Message est obligatoire</p>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
        </div>
    </script>
  </ion-content>

</ion-view>

