<ion-view  title='<img class="title-image" src="parent/icon.png"> Cap Mission </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-app="capMission.teacher" ng-controller="TProposCtrl" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>


    <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>

    <!-- <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
              badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

     </ion-tab>-->

    <ion-tab title="Solde" href="#/teacher/ChoixSolde" icon-off="icon ion-ios-calculator-outline"
             icon-on="icon ion-ios-calculator">

    </ion-tab>
   <!-- <ion-tab title="Contactez-nous" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes"
             badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>-->


  </ion-tabs>
  <br><br><br><br>
  <ion-content>
    <br><br><br>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="profilLegend" ><legend class="legendP"><span> <i class="ion-clipboard"></i><strong> Mon profil</strong></span><!--<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span><i class="icon ion-compose iModP" ng-click="modal.show()"></i></span>--></legend></div>
        <form >
          <br>

          <div class="form-group" id="container">
            <label class="control-label labelF"><i class="ion-person"></i> Nom & Prénom</label> <br>

            <div class="left">{{teacher.entity.name}}</div>
            <div class="right"><i class="icon ion-compose updateIcon" ng-click="openModal(1)"></i></div>
            <br><br>
          </div>
          <div class="form-group">
            <label class="control-label labelF"><i class="ion-android-phone-portrait"></i> Téléphone</label><br>

            <div class="left">{{teacher.entity.phone}}</div>
            <div class="right"><i class="icon ion-compose updateIcon" ng-click="openModal(2)"></i></div>
          </div><br>
          <div class="form-group">
            <label  class="control-label labelF"><i class="ion-at"></i> Email </label><br>

            <div class="left">{{teacher.entity.mail}}</div>
            <div class="right"><i class="icon ion-compose updateIcon" ng-click="openModal(3)"></i></div>
          </div><br>

        </form>
      </div>
    </div>
    <!-- Modals -->
    <script id="templates/modal-1.html" type="text/ng-template">
      <div class="modal transparent">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="closeModal(1)"></i>
          <div class="item item-divider">
            Modification
          </div>
          <p class="headerModal item-divider padding">Etes-vous sûr de vouloir modifier votre nom : {{teacher.entity.name}} ?</p>
          <form name="myForm"  novalidate>
            <ion-list>
              <label class="item item-input item-stacked-label">
                <input ng-model="mail.to" type="hidden">
                <input ng-model="mail.from" type="hidden">
                <input ng-model="mail.subject" type="hidden">
                <input type="text" name="name" ng-model="mail.body" placeholder="Nouvelle valeur" required>
              </label>
              <center>
                <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                        ng-click="sendTN(mail);closeModal(1)">Envoyer
                </button>
              </center>
              </ion-list>
          </form>
          <div class="padding">
            <p ng-show="myForm.name.$error.required">* Nouvelle valeur est obligatoire</p>
          </div>
        </div>
      </div>
    </script>

    <script id="templates/modal-2.html" type="text/ng-template">
      <div class="modal transparent">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="closeModal(2)"></i>
          <div class="item item-divider">
            Modification
          </div>
          <p class="headerModal item-divider padding">Etes-vous sûr de vouloir modifier votre téléphone : {{teacher.entity.phone}} ?</p>
          <form name="myForm"  novalidate>
            <ion-list>
              <label class="item item-input item-stacked-label">
                <input ng-model="mail.to" type="hidden">
                <input ng-model="mail.from" type="hidden">
                <input ng-model="mail.subject" type="hidden">
                <input type="text" name="tel" ng-model="mail.body" placeholder="Nouvelle valeur" required>
              </label>
              <center>
                <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark"
                        ng-click="sendTT(mail);closeModal(2)">Envoyer
                </button>
              </center>
            </ion-list>
          </form>
          <div class="padding">
            <p ng-show="myForm.tel.$error.required">* Nouvelle valeur est obligatoire</p>
          </div>
        </div>
      </div>
    </script>

    <script id="templates/modal-3.html" type="text/ng-template">
      <div class="modal transparent">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="closeModal(3)"></i>
          <div class="item item-divider">
            Modification
          </div>
          <p class="headerModal item-divider padding">Etes-vous sûr de vouloir modifier votre email : {{teacher.entity.mail}} ?</p>
          <form name="myForm"  novalidate>
            <ion-list>
              <label class="item item-input item-stacked-label">
                <input ng-model="mail.to" type="hidden">
                <input ng-model="mail.from" type="hidden">
                <input ng-model="mail.subject" type="hidden">
                <input type="email" name="mail" ng-model="mail.body" placeholder="Nouvelle valeur" required>
              </label>
              <center>
                <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                        ng-click="sendTE(mail);closeModal(3)">Envoyer
                </button>
              </center>
            </ion-list>
          </form>
          <div class="padding">
            <p ng-show="myForm.mail.$error.required">* Nouvelle valeur est obligatoire</p>
            <p ng-show="myForm.mail.$error.email">* Adresse email non valide</p>
          </div>
        </div>
      </div>
    </script>

  </ion-content>
</ion-view>
