<body ng-app="capMission.teacher">
<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" href="#/teacher/profil" ng-click="popover.hide()"><i class="icon ion-person">
        Profil
      </i></a>
      <hr>
      <a class="item" href="#/teacher/apropos" ng-click="popover.hide()"><i class="icon ion-android-textsms">
        A propos
      </i></a>
      <hr>
      <a class="item" href="#/teacher/parametres" ng-click="popover.hide()"><i class="icon ion-gear-b">
        Paramètres
      </i></a>
      <a class="item" href="#" ng-controller="LogoutCtrl" ng-click="logout();popover.hide()"><i class="icon ion-android-exit">
        Quitter l'application
      </i></a>
    </div>
  </ion-content>
</ion-popover-view>
</body>
