<ion-view view-title="Historique">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-app="capMission.administ" ng-controller="adminCtrl" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>
  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">

    <ion-tab  hidden="true" >

    </ion-tab>

    <ion-tab title="Notifications" href="#/adminHome"  icon-off="icon ion-android-notifications-none"
             icon-on="icon ion-android-notifications-none" badge="badgehome"
             badge-style="badge-assertive" ng-controller="adminCtrl" ng-click="">

    </ion-tab>


    <ion-tab title="Historique" href="#/history" icon-off="icon ion-clipboard" icon-on="icon ion-clipboard"
             badge="badgeSolde" badge-style="badge-assertive" >

    </ion-tab>
    <ion-tab title="Tableau de bord" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer"
             badge="badgeMessages" badge-style="badge-assertive" >

    </ion-tab>

  </ion-tabs>

  <br>
  <ion-content>

  </ion-content>

</ion-view>
