<ion-view  title='<img class="title-image" src="parent/icon.png"> A propos de nous </img>'>
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>
  </ion-nav-buttons>
  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>


    <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>
    <!-- <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
              badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

     </ion-tab>-->

    <ion-tab title="Solde" href="#/parent/ChoixEnfantSolde" icon-off="icon ion-ios-calculator-outline"
             icon-on="icon ion-ios-calculator" ng-controller="ChoixsoldeCtrl" ng-click="get()">

    </ion-tab>
    <ion-tab title="Contactez-nous" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes"
             badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>

  </ion-tabs>

  <br>
  <ion-content>
    <br><br>
    <div class="list card">

      <div class="item item-avatar">
        <img src="parent/icon.png">
        <h2><strong>Cap Mission,</strong> </h2>
        <p style="font-size: small">L'apprentissage nouvelle génération.</p>
      </div>

      <div class="item item-body">

        <p style="font-family: 'Open Sans'">
          Parent, étudiant, enseignant : cette application est faite pour mieux vous servir !
          <br>
          Aidez-nous à l'améliorer, envoyez-nous vos remarques à <a href="mailto:technology@capmission.com">technology@capmission.com </a>.
          <br>
          L'équipe Cap Mission

        </p>

      </div>

    </div>
    </ion-content>
  </ion-view>
