<ion-view  title='<img class="title-image" src="parent/icon.png" /> ' cache-view="false" >
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-app="capMission.parent" ng-controller="ChoixsoldeCtrl" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>


  <br>


  <ion-content>
    <br><br><br>
    <!--taille :{{parent.entity.students.length}}-->
    <br>
    <div class="divChoix">
      <div ng-show="parent.entity.students.length > '1'">
        {{parent.entity.name}}, cliquez pour visualiser le solde de : </div>
      <div ng-show="parent.entity.students.length == '1'"><strong>
        {{parent.entity.name}}</strong>, cliquez pour visualiser le solde de votre enfant : </div>
      <div ng-show="parent.entity.students.length == '0'"><strong>
        {{parent.entity.name}}</strong>,désolés, nous n'avons pas pu trouvé vos enfants, veuillez contacter Cap Mission pour plus
        d'informations ! </div>
    </div>
    <br><br>

    <div   ng-repeat="children in parent.entity.students" ng-if="parent.entity.name != children.name" >
      <div ng-app="capMission.parent" ng-controller="PsoldeCtrl">
        <center>  <button ng-click="getd(children.id)" class="button icon-right ion-chevron-right buttonEmp">{{children.name}}</button></center>
        <br>
      </div>
    </div>




  </ion-content>

</ion-view>

<!-- class="card card-block card-inverse card-primary text-xs-center">
