<!-- En tête de l'application -->

  <ion-view  title='<img class="title-image" src="parent/icon.png"> Cours </img>' cache-view="false">
    <ion-nav-buttons side="right">
      <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
    </ion-nav-buttons>

    <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


      <ion-tab  hidden="true" >

      </ion-tab>


      <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
               badge-style="badge-assertive" ng-click="onTabSelected()">

      </ion-tab>


      <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
               badge-style="badge-assertive" ng-click="onTabSelected()">

      </ion-tab>

      <ion-tab title="Solde" href="#/parent/solde" icon-off="icon ion-ios-calculator-outline" icon-on="icon ion-ios-calculator"
               badge="badgeSolde" badge-style="badge-assertive" ng-controller="ChoixsoldeCtrl" ng-click="get(eleve.entity.id)">

      </ion-tab>
      <ion-tab title="Ajoutez un cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
               badge="badgeMessages" badge-style="badge-assertive" ng-controller="ChoixAjoutCoursCtrl" ng-click="get(eleve.entity.id)">

      </ion-tab>
    </ion-tabs>
    <br><br><br><br>
    <!-- Contenu -->
    <ion-content>
      <br><br><br><br><br><br>
      <div ng-view></div>
      <div class="card" ng-controller="PChoixMatiereCtrl">
        <div class="item item-text-wrap">
          <p id="consigneContact">{{nomEnfant}} -  Niveau : {{niveauN}}</p>
          <div id="listeDeroulante">
            <div class="list">
              <label class="item item-input item-select">
                <div id="instruc" class="input-label">
                  Matière :
                </div>
                <select ng-model="matiere" ng-change="goPage(matiere)" required>
                  <option  ng-repeat="matiere in eleve.entity.niveau.listCourse" >  <!-- matiereList.entity.listCourse -->
                    {{matiere.name}}
                  </option>
                </select>
              </label>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
