<!-- En tête de l'application -->

<ion-view  title='<img class="title-image" src="parent/icon.png">Cours Groupe</img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-app="capMission.parent" ng-controller="ProposCtrl" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">

    <ion-tab  hidden="true" >

    </ion-tab>
    <ion-tab title="Planning"  icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" badge="badgehome"
             badge-style="badge-assertive" ng-controller="EnfantCtrl" ng-click="getd(son.entity.id)">

    </ion-tab>


    <!--<ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>-->

    <ion-tab title="Solde" href="#/parent/solde" icon-off="icon ion-ios-calculator-outline"
             icon-on="icon ion-ios-calculator" ng-controller="PsoldeCtrl" ng-click="getd(son.entity.id)">

    </ion-tab>
    <ion-tab title="Ajout cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
             badge="badgeMessages" badge-style="badge-assertive" ng-controller="PAjoutCoursChoixCtrl" ng-click="goChoixMatiere(son.entity.id)">

    </ion-tab>
  </ion-tabs>
  <br><br><br><br>
  <!-- Contenu -->
  <ion-content>
    <br><br><br>
    <div class="card">
      <div class="item item-text-wrap">
        Choisissez un cours parmis ceux disponibles :
        <br><br>
        <div class="list">

          <label class="item item-input item-select">
            <div id="instruc" class="input-label">
              Cours :
            </div>
            <select ng-model="crenaux" required>
              <option  ng-repeat="matiere in matiereList.entity.listCourse" >
                {{matiere.name}}
              </option>
            </select>
          </label>

        </div>
        <p>Appuyer sur SUIVANT pour confirmer votre demande.</p>
        <br><hr><br>
        Si aucun de nos crénaux vous conviennent :
        <br><br>
        <div>
          <input ng-model="creerGroupe" type="radio" value="Créer ton Groupe" id="squared1" name="check" ng-click="creerTonGroup(matiere, coursG, creerGroupe)" />
          <label id="instruc" for="squared1">Créer votre groupe</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input ng-model="autre" type="radio" value="Autre" id="squared2" name="check" ng-click="goAutre(matiere, coursG, autre)"/>
          <label id="instruc" for="squared2">Autre</label>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar ng-hide="parent.entity.students.length == '1' || testNum() == 3">
    <div class="bar bar-footer" >

      <button class="button icon-left ion-ios-person-outline button-small buttonEmp" ng-controller="ProposCtrl" ng-click="goChoix()">Choisir un autre enfant !</button>
    </div>
  </ion-footer-bar>
  </ion-view>
