<!-- En tête de l'application -->

<ion-view  title='<img class="title-image" src="parent/icon.png">Créer ton Groupe !</img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>


    <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>

    <ion-tab title="Solde" href="#/parent/solde" icon-off="icon ion-ios-calculator-outline" icon-on="icon ion-ios-calculator"
             badge="badgeSolde" badge-style="badge-assertive" ng-controller="ChoixsoldeCtrl" ng-click="get(idE)">

    </ion-tab>
    <ion-tab title="Ajoutez un cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
             badge="badgeMessages" badge-style="badge-assertive" ng-controller="ChoixAjoutCoursCtrl" ng-click="get(eleve.entity.id)">

    </ion-tab>
  </ion-tabs>
  <br><br><br><br>
  <!-- Contenu -->
  <ion-content>
    <br><br><br><br><br><br>
    <div class="card">
      <div class="item item-text-wrap">
        <br><br>
        <form name="myForm" ng-submit="submitTable()">
          <div id="instruc">Heure :<input id="formBlanc" type="time" name="timeD" ng-model="heureDebut" required></div>
          <br>
          <div id="instruc">Date :<input id="formBlanc" min="{{now}}" name="dateD" type="date" ng-model="dateDebut" required></div>

        <br><br>
        <center><button ng-disabled="myForm.$invalid" class="button button-small buttonEmp" ng-model="occ" ng-click="goRecap(mat, coursGpe, creerGroup, nbEt, nom1, nom2, nom3, nom4, nom5, nom6, freq, heureDebut, dateDebut)">
            VALIDER
            </button></center>
        </form>
      </div>
      <div class="padding">
        <p ng-show="myForm.dateD.$error.min">* Date erronée</p>
        <p ng-show="myForm.dateD.$error.required"></p>
        <p ng-show="myForm.timeD.$error.required"></p>
        </div>
    </div>
  </ion-content>

