<!-- En tête de l'application -->

<ion-view  title='<img class="title-image" src="parent/icon.png"> Date du cours </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-app="capMission.parent" ng-controller="PAjoutCoursChoixCtrl" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">

    <ion-tab  hidden="true" >

    </ion-tab>

    <ion-tab title="Planning"  icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" badge="badgehome"
             badge-style="badge-assertive" ng-controller="EnfantCtrl" ng-click="getd(son.entity.id)">

    </ion-tab>


    <!--<ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>-->

    <ion-tab title="Solde" href="#/parent/solde" icon-off="icon ion-ios-calculator-outline"
             icon-on="icon ion-ios-calculator" ng-controller="PsoldeCtrl" ng-click="getd(son.entity.id)">

    </ion-tab>
    <ion-tab title="Ajout cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
             badge="badgeMessages" badge-style="badge-assertive" ng-controller="PAjoutCoursChoixCtrl" ng-click="goChoixMatiere(son.entity.id)">

    </ion-tab>
  </ion-tabs>
  <br><br><br><br>
  <!-- Contenu -->
  <ion-content>
    <br><br><br><br><br><br>
    <div class="card">
      <div class="item item-text-wrap">
        <br><br>
        <!--{{mat}}-->
        <!--{{niv}}-->
        <!--{{coursGpe}}-->
        <!--{{coursParti}}-->
        <!--{{freq}}-->
        <form name="myForm" ng-submit="submitTable()">

          <div id="instruc">Date :<input id="formBlanc" type="date" ng-model="dateDebut" required></div>
          <!--min="{{dateNow}}"-->
          <!--<center><p id="erreur" ng-show="myForm.dateDebut.$error.min "><i class="icon ion-alert-circled">&nbsp;&nbsp;La date n'est pas valide !</i></p></center>-->

          <br><br>
          <center><button class="button button-small buttonEmp" ng-disabled="myForm.$invalid" ng-model="occ" ng-click="goRecap(matiere, niveauN, coursG, coursPar, freq, dateDebut)">
            VALIDER
          </button></center>
        </form>
        <!--<div class="padding">-->
        <!--<p ng-show="myForm.dateDebut.$error.required">* Date non valide</p>-->
        <!--</div>-->
      </div>
    </div>
  </ion-content>


  <ion-footer-bar ng-hide="parent.entity.students.length == '1' || testNum() == 3">
    <div class="bar bar-footer" >

      <button class="button icon-left ion-ios-person-outline button-small buttonEmp" ng-controller="ProposCtrl" ng-click="goChoix()">Choisir un autre enfant !</button>
    </div>
  </ion-footer-bar>
  </ion-view>
