<ion-view   title='<img class="title-image" src="parent/icon.png"> Planning </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-app="capMission.parent" ng-controller="ProposCtrl" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab title="Planning" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" badge="badgehome"
             badge-style="badge-assertive" href="#/parent/emploiEnfant">

    </ion-tab>


    <!--<ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>-->

    <!-- <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
              badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

     </ion-tab>-->

    <ion-tab title="Solde" href="#/parent/solde" icon-off="icon ion-ios-calculator-outline"
             icon-on="icon ion-ios-calculator" ng-controller="PsoldeCtrl" ng-click="getd(son.entity.id)">

    </ion-tab>

    <ion-tab title="Ajout cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
             badge="badgeMessages" badge-style="badge-assertive" ng-controller="PAjoutCoursChoixCtrl" ng-click="goChoixMatiere(son.entity.id)">

    </ion-tab>


  </ion-tabs>
  <br>

  <ion-content>
    <br><br><br>


    <div>

      <div class="divEmploi"><i class="ion-calendar">&nbsp;Planning de : {{son.entity.name}}</i></div>
      <br>
      <div class="divPlanning" ><strong>
        {{parent.entity.name}}</strong>, cliquez sur une séance afin de demander sa modification ou son annulation !</div><br>

      <div class="pagText">
        Semaine du <br>
        <nobr><div id="idLeft" class="button icon-left ion-chevron-left button-clear button-dark pagText"
           ng-click="showLoading();prevWeek()"><strong>{{currentWeekStart()}}</strong></div>
        <div id="idRight" class="button icon-right ion-chevron-right button-clear button-dark pagText"
           ng-click="showLoading();nextWeek()"><strong>{{currentWeekEnd()}}</strong></div></nobr>
      </div>
    </div>
    <ion-scroll direction="y" class="theroot">
    <div  class="card divCard item-text-wrap"
          ng-repeat="timetables in son.entity.timetables | orderBy:'start' | filter:week">

      <div ng-if="millisToUTCDate(timetables.start) > dateNow" class="item item-divider divItem item-icon-right"
           ng-app="capMission" ng-controller="EmailController"
           ng-click="modal.show();getEmailInfo(timetables.id,son.entity.name,timetables.name,timetables.start,timetables.end,timetables.professor)">
        <!--<div><a href="#" ng-app="capMission" ng-controller="EmailController"
                                               ng-click="modal.show();getEmailInfo(timetables.id,son.entity.name,timetables.name,timetables.start)"><i
          class="icon ion-compose iMod"></i></a></div>-->
        <div class="TextS">
          <nobr>
            {{millisToUTCDate(timetables.start) | date: 'EEE dd MMM'}} {{millisToUTCDate(timetables.start) | date: 'HH:mm'}} -
            {{millisToUTCDate(timetables.end) | date: 'HH:mm'}} <strong>{{timetables.name}}</strong> - {{timetables.professor.split(" ").pop()}}</nobr>
        </div>
      </div>
      <div ng-if="millisToUTCDate(timetables.start) < dateNow" class="item item-divider divItemS item-icon-right">
        <div class="TextS">
          <nobr>
            {{millisToUTCDate(timetables.start) | date: 'EEE dd MMM'}} {{millisToUTCDate(timetables.start) | date: 'HH:mm'}}-
            {{millisToUTCDate(timetables.end) | date: 'HH:mm'}} <strong>{{timetables.name}}</strong> - {{timetables.professor.split(" ").pop()}} </nobr>
        </div>
      </div>
    </div>
    </ion-scroll>

    <script id="templates/modal.html" type="text/ng-template">
      <div class="modal transparent modalSize">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="modal.hide()"></i>

          <p class="headerModal item-divider padding"> Détails <br> Matière : {{period}} <br> Date    : {{millisToUTCDate(debut) | date:'dd MMMM à HH:mm'}} <br>
            Fin     : {{millisToUTCDate(fin) | date:'dd MMMM à HH:mm'}}<br>  Enfant  : {{son.entity.name}}
          <br> Enseignant : {{prof.split(" ").pop()}}  </p>

          <form name="myForm" novalidate>
            <input ng-model="id" type="hidden">
            <input ng-model="enfant" type="hidden">
            <input ng-model="period" type="hidden">
            <input ng-model="debut" type="hidden">
            <input ng-model="mail.to" type="hidden">
            <input ng-model="mail.from" type="hidden">
            <input ng-model="mail.subject" type="hidden">
            <label class="item item-input">
              <center><textarea class='autoExpand textarea' rows='3' data-min-rows='3' name="msg" ng-model="mail.body"
                                placeholder="Votre message" required></textarea></center>
            </label>
            <br>
            <center>
              <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                      ng-click="modal.hide();send(mail,id,enfant,period,debut)">Envoyer
              </button>
            </center>
          </form>
            <div class="padding">
              <p ng-show="myForm.msg.$error.required">* Message est obligatoire</p>
            </div>

      </div>
      </div>
    </script>

    <script>
      function lastWord(str) {
        str.split(" ").pop()
      }


      //$('#A').html( lastWord(wordsA) );
    </script>

  </ion-content>
  <ion-footer-bar ng-app="capMission.parent" ng-controller="ProposCtrl" ng-hide="parent.entity.students.length == '1' || testNum() == 3">
    <div class="bar bar-footer">

      <button class="button icon-left ion-ios-person-outline button-small buttonEmp" ng-controller="ProposCtrl" ng-click="goChoix()">Choisir un autre enfant !</button>
    </div>
  </ion-footer-bar>
</ion-view>

