<ion-view  title='<img class="title-image" src="parent/icon.png"> Cap Mission </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-app="capMission.parent" ng-controller="ProposCtrl" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>


    <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>

    <!-- <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
              badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

     </ion-tab>-->

    <ion-tab title="Solde" href="#/parent/ChoixEnfantSolde" icon-off="icon ion-ios-calculator-outline"
             icon-on="icon ion-ios-calculator">

    </ion-tab>

    <ion-tab title="Ajoutez un cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
    badge="badgeMessages" badge-style="badge-assertive" href="#/parent/contact">

    </ion-tab>


  </ion-tabs>
  <br>

  <ion-content>
    <br><br><br>


    <div >
      <div class="divEmploi"><i class="ion-calendar">&nbsp;Planning de : {{son.entity.name}}</i></div><br>
      <center>Semaine du <strong>{{currentWeekStart()}}</strong> - <strong>{{currentWeekEnd()}}</strong></center>

      <!-- Changer de semaine -->
      <button class="button icon-left ion-chevron-left button-clear button-dark btnLeft" ng-click="showLoading();prevWeek()">
        Précédent
      </button>
      <button class="button icon-right ion-chevron-right button-clear button-dark btnRight" ng-click="showLoading();nextWeek()">
        Suivant
      </button>
    </div>

    <!-- Création de l'emploi du temps -->
    <ion-scroll direction="y" class="theroot">
      <div  class="card divCard item-text-wrap" ng-repeat="timetables in son.entity.timetables | orderBy:'start' | filter:week">

        <div ng-if="timetables.start > now"  class="item item-divider divItem item-icon-right">
          <div><a href="#" ng-app="capMission" ng-controller="EmailController"
                  ng-click="modal.show();get(timetables.id,son.entity.name,timetables.name,timetables.start)"><i
            class="icon ion-compose iMod"></i></a></div>
          <div class="TextS">
            {{timetables.start  | date: 'EEEE dd MMMM'}}&nbsp;&nbsp;{{timetables.start | date: 'HH:mm'}}-
            {{timetables.end  | date: 'HH:mm'}}&nbsp;&nbsp;<strong> {{timetables.name}} </strong></div> <!-- on récupère le nom du cours (gras)-->
        </div>
        <div ng-if="timetables.start < now"  class="item item-divider divItemS item-icon-right">
          <div class="TextS">
            {{timetables.start  | date: 'EEEE dd MMMM'}}&nbsp;&nbsp;{{timetables.start | date: 'HH:mm'}}&nbsp;-
            {{timetables.end  | date: 'HH:mm'}}&nbsp;&nbsp;<strong> {{timetables.name}} </strong></div>
        </div>
      </div>
    </ion-scroll>

    <script id="templates/modal.html" type="text/ng-template">
      <div class="modal transparent modalSize">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="modal.hide()"></i>

          <p class="headerModal item-divider padding"> Vous voulez modifier ou supprimer cette séance? Envoyez-nous un
            message !</p>

          <form name="myForm" novalidate>
            <input ng-model="id" type="hidden">
            <input ng-model="enfant" type="hidden">
            <input ng-model="period" type="hidden">
            <input ng-model="debut" type="hidden">
            <input ng-model="mail.to" type="hidden">
            <input ng-model="mail.from" type="hidden">
            <input ng-model="mail.subject" type="hidden">
            <label class="item item-input">
              <center><textarea class='autoExpand' rows='3' data-min-rows='3' name="msg" ng-model="mail.body"
                                placeholder="Votre message" required></textarea></center>
            </label>
            <br>
            <center>
              <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                      ng-click="send(mail,id,enfant,period,debut);modal.hide()">Envoyer
              </button>
            </center>
          </form>
          <div class="padding">
            <p ng-show="myForm.msg.$error.required">* Message est obligatoire</p>
          </div>

        </div>
      </div>
    </script>
  </ion-content>

</ion-view>

