<script>
  $(document)
    .one('focus.textarea', '.autoExpand', function () {
      var savedValue = this.value;
      this.value = '';
      this.baseScrollHeight = this.scrollHeight;
      this.value = savedValue;
      savedValue = 'msg'
    })
    .on('input.textarea', '.autoExpand', function () {
      var minRows = this.getAttribute('data-min-rows') | 0,
        rows;
      this.rows = minRows;
      console.log(this.scrollHeight, this.baseScrollHeight);
      rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 17);
      this.rows = minRows + rows;
    });
</script>
<ion-view  title='<img class="title-image" src="parent/icon.png"> Cap Mission </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>


    <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


   <!-- <ion-tab title="Résultats" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" ng-click="onTabSelected()">

    </ion-tab>-->


    <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
             badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>

    <ion-tab title="Solde" icon-off="icon ion-ios-calculator-outline" icon-on="icon ion-ios-calculator" ng-click="onTabSelected()">

    </ion-tab>




  </ion-tabs>
  <br>

  <ion-content>
    <br><br><br>
    <div class="divEmploi"><i class="ion-calendar">&nbsp;Planning de : {{son.entity.name}}</i></div><br>
    <div  class="card divCard item-text-wrap"
         ng-repeat="timetables in son.entity.timetables | orderBy:'start'"
         ng-if="timetables.start >  now">

      <div  class="item item-divider divItem item-icon-right">
        <a href="#" ng-app="capMission" ng-controller="EmailController" ng-click="modal.show();get(timetables.id,son.entity.name,timetables.name,timetables.start)"><i class="icon ion-compose iMod"></i></a>
        <div class="TextS">
        {{timetables.start  | date: 'EEEE dd MMMM'}}&nbsp;&nbsp;{{timetables.start | date: 'HH:mm'}}&nbsp;-
        {{timetables.end  | date: 'HH:mm'}}&nbsp;&nbsp;<strong> {{timetables.name}} </strong></div>
      </div>
    </div>
    <script id="templates/modal.html" type="text/ng-template">
      <div class="modal transparent modalSize">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="modal.hide()"></i>

          <p class="headerModal item-divider padding"> Vous voulez modifier ou supprimer cette séance? Envoyez-nous un
            message !</p>

          <form name="myForm" novalidate>
            <input ng-model="id" type="hidden">
            <input ng-model="enfant" type="hidden">
            <input ng-model="period" type="hidden">
            <input ng-model="debut" type="hidden">
            <input ng-model="mail.to" type="hidden">
            <input ng-model="mail.from" type="hidden">
            <input ng-model="mail.subject" type="hidden">
            <label class="item item-input">
              <center><textarea class='autoExpand' rows='3' data-min-rows='3' name="msg" ng-model="mail.body"
                                placeholder="Votre message" required></textarea></center>
            </label>
            <br>
            <center>
              <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                      ng-click="send(mail,id,enfant,period,debut);modal.hide()">Envoyer
              </button>
            </center>
          </form>
            <div class="padding">
              <p ng-show="myForm.msg.$error.required">* Message est obligatoire</p>
            </div>

      </div>
      </div>
    </script>
  </ion-content>

</ion-view>

