<ion-view title='<img class="title-image" src="parent/icon.png"> Autre Cours Groupe </img>' cache-view="false"
          xmlns="http://www.w3.org/1999/html">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-app="capMission.parent" ng-controller="ProposCtrl" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>
    <ion-tab title="Planning"  icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" badge="badgehome"
             badge-style="badge-assertive" ng-controller="EnfantCtrl" ng-click="getd(son.entity.id)">

    </ion-tab>


    <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>

    <ion-tab title="Solde" href="#/parent/solde" icon-off="icon ion-ios-calculator-outline"
             icon-on="icon ion-ios-calculator" ng-controller="PsoldeCtrl" ng-click="getd(son.entity.id)">

    </ion-tab>
    <ion-tab title="Ajout cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
             badge="badgeMessages" badge-style="badge-assertive" ng-controller="PAjoutCoursChoixCtrl" ng-click="goChoixMatiere(son.entity.id)">

    </ion-tab>
  </ion-tabs>

  <br><br><br><br>
  <!-- Contenu -->
  <ion-content>
    <br><br>


    <div class="card" ng-controller="PDemandeInfoEmailController">
      <i class="icon ion-ios-close close-modal" ng-click="modal.hide()"></i>

      <p class="headerModal item-divider padding">Bonjour {{parent.entity.name}}, les disponibilités de nos professeurs ne vous conviennent pas et vous ne souhaitez pas créer votre groupe.
        Nous vous proposons de nous envoyer un mail afin de prendre en compte vos souhaits concernant votre demande d'un nouveau cours pour votre enfant.</p>

      <form name="myForm" novalidate>
        <input ng-model="id" type="hidden">
        <input ng-model="parent" type="hidden">
        <input ng-model="mail.to" type="hidden">
        <input ng-model="mail.from" type="hidden">
        <input ng-model="mail.subject" type="hidden"><br>
        <label class="item item-input">
         <textarea class='autoExpand' rows='3' col="15" data-min-rows='3' ng-model="mail.body"
                   placeholder="Votre remarque" name="msg" required></textarea>
        </label>
        <br>
        <center>
          <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                  ng-click="sendAutre(mail, mat, coursGpe , autres)">Envoyer       <!--modal.hide()-->
          </button>
        </center>
      </form>
      <div class="padding">
        <p ng-show="myForm.msg.$error.required">* Message est obligatoire</p>

      </div>
    </div>
  </ion-content>
  <ion-footer-bar ng-hide="parent.entity.students.length == '1' || testNum() == 3">
    <div class="bar bar-footer" >

      <button class="button icon-left ion-ios-person-outline button-small buttonEmp" ng-controller="ProposCtrl" ng-click="goChoix()">Choisir un autre enfant !</button>
    </div>
  </ion-footer-bar>
  </ion-view>
