<body ng-app="capMission">
<ion-popover-view class="fit1 platform-android">
  <ion-content>
    <div class="list">
      <a class="item" ng-click="popover.hide()" href="#/parent/profil" ><i class="icon ion-person">
        Profil
      </i></a>
      <hr>
      <a class="item" href="#/parent/demandeInfoE" ng-click="popover.hide()"><i class="icon ion-information-circled">
        Demande d'informations
      </i></a>
      <a class="item" href="#/parent/remarque" ng-click="popover.hide()"><i class="icon ion-help-circled">
        Remarques
      </i></a>
      <hr>
      <a class="item" href="#/parent/apropos"  ng-click="popover.hide()"><i class="icon ion-android-textsms">
        A propos
      </i></a>
      <!--<a class="item" href="#/parent/reglement" ng-click="popover.hide()"><i class="icon ion-document-text">
        Règlement intérieur
      </i></a>-->
      <hr>
      <a class="item" href="#/parent/parametres" ng-click="popover.hide()"><i class="icon ion-gear-b">
        Paramètres
      </i></a>
      <a class="item" href="#" ng-controller="LogoutCtrl" ng-click="logout();popover.hide()"><i class="icon ion-android-exit">
        Quitter l'application
      </i></a>

    </div>
  </ion-content>
</ion-popover-view>
</body>

