<ion-view  title='<img class="title-image" src="parent/icon.png"> Cap Mission </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>


    <ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>

    <!--
        <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
                 badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

        </ion-tab>-->
    <ion-tab title="Solde" href="#/parent/solde" icon-off="icon ion-ios-calculator-outline" icon-on="icon ion-ios-calculator"
             badge="badgeSolde" badge-style="badge-assertive" ng-controller="ChoixsoldeCtrl" ng-click="get(idE)">

    </ion-tab>
    <ion-tab title="Ajoutez un cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
             badge="badgeMessages" badge-style="badge-assertive" ng-controller="ChoixAjoutCoursCtrl" ng-click="get(son.entity.id)">

    </ion-tab>

  </ion-tabs>
  <br><br><br><br>
  <ion-content >
    <br><br><br>
    <div class="panel panel-default">
      <div class="panel-body">
       <div class="profilLegend" ><legend class="legendP"> <i class="ion-clipboard"></i><strong> Mon profil</strong></legend></div>
        <form >
          <br>
          <div class="form-group">
            <label class="control-label labelF"><i class="ion-person"></i> Nom & Prénom</label> <br>

            <div class="left">{{parent.entity.name}}</div>
            <div class="right"><i class="icon ion-compose updateIcon" ng-click="openModal(1)"></i></div>
            <br><br>
          </div>
          <div class="form-group">
           <label  class="control-label labelF"><i class="ion-android-phone-portrait"></i> Téléphone</label><br>

            <div class="left">{{parent.entity.phone}}</div>
            <div class="right"><i class="icon ion-compose updateIcon" ng-click="openModal(2)"></i></div>
          </div><br>
          <div class="form-group">
            <label  class="control-label labelF"><i class="ion-at"></i> Email </label><br>

            <div class="left">{{parent.entity.mail}}</div>
            <div class="right"><i class="icon ion-compose updateIcon" ng-click="openModal(3)"></i></div>
          </div><br>
          <div ng-if="parent.entity.job != ''">
          <div class="form-group">
            <label  class="control-label labelF"><i class="icon ion-briefcase"></i> Fonction </label><br>

            <div class="left">{{parent.entity.job}}</div>
            <div class="right"><i class="icon ion-compose updateIcon" ng-click="openModal(4)"></i></div>
          </div></div><br>
        </form>
      </div>
    </div>
    <!-- Modals -->
    <script id="templates/modal-1.html" type="text/ng-template">
      <div class="modal transparent">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="closeModal(1)"></i>
          <div class="item item-divider">
            Modification
          </div>
          <p class="headerModal item-divider padding">Etes-vous sûr de vouloir modifier votre nom : {{parent.entity.name}} ?</p>
          <form name="myForm"  novalidate>
            <ion-list>
              <label class="item item-input item-stacked-label">
                <input ng-model="mail.to" type="hidden">
                <input ng-model="mail.from" type="hidden">
                <input ng-model="mail.subject" type="hidden">
                <input type="text" name="name" ng-model="mail.body" placeholder="Nouvelle valeur" required>
              </label>
              <center>
                <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                        ng-click="sendPN(mail);closeModal(1)">Envoyer
                </button>
              </center>
            </ion-list>
          </form>
          <div class="padding">
            <p ng-show="myForm.name.$error.required">* Nouvelle valeur est obligatoire</p>
          </div>
        </div>
      </div>
    </script>

    <script id="templates/modal-2.html" type="text/ng-template">
      <div class="modal transparent">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="closeModal(2)"></i>
          <div class="item item-divider">
            Modification
          </div>
          <p class="headerModal item-divider padding">Etes-vous sûr de vouloir modifier votre téléphone : {{parent.entity.phone}} ?</p>
          <form name="myForm"  novalidate>
            <ion-list>
              <label class="item item-input item-stacked-label">
                <input ng-model="mail.to" type="hidden">
                <input ng-model="mail.from" type="hidden">
                <input ng-model="mail.subject" type="hidden">
                <input type="text" name="tel" ng-model="mail.body" placeholder="Nouvelle valeur" required>
              </label>
              <center>
                <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                        ng-click="sendPT(mail);closeModal(2)">Envoyer
                </button>
              </center>
            </ion-list>
          </form>
          <div class="padding">
            <p ng-show="myForm.tel.$error.required">* Nouvelle valeur est obligatoire</p>
          </div>
        </div>
      </div>
    </script>

    <script id="templates/modal-3.html" type="text/ng-template">
      <div class="modal transparent">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="closeModal(3)"></i>
          <div class="item item-divider">
            Modification
          </div>
          <p class="headerModal item-divider padding">Etes-vous sûr de vouloir modifier votre email : {{parent.entity.mail}} ?</p>
          <form name="myForm"  novalidate>
            <ion-list>
              <label class="item item-input item-stacked-label">
                <input ng-model="mail.to" type="hidden">
                <input ng-model="mail.from" type="hidden">
                <input ng-model="mail.subject" type="hidden">
                <input type="email" name="mail" ng-model="mail.body" placeholder="Nouvelle valeur" required>
              </label>
              <center>
                <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                        ng-click="sendPE(mail);closeModal(3)">Envoyer
                </button>
              </center>
            </ion-list>
          </form>
          <div class="padding">
            <p ng-show="myForm.mail.$error.required">* Nouvelle valeur est obligatoire</p>
            <p ng-show="myForm.mail.$error.email">* Adresse email non valide</p>
          </div>
        </div>
      </div>
    </script>

    <script id="templates/modal-4.html" type="text/ng-template">
      <div class="modal transparent">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="closeModal(4)"></i>
          <div class="item item-divider">
            Modification
          </div>
          <p class="headerModal item-divider padding">Etes-vous sûr de vouloir modifier votre fonction : {{parent.entity.job}} ?</p>
          <form name="myForm"  novalidate>
            <ion-list>
              <label class="item item-input item-stacked-label">
                <input ng-model="mail.to" type="hidden">
                <input ng-model="mail.from" type="hidden">
                <input ng-model="mail.subject" type="hidden">
                <input type="text" name="job" ng-model="mail.body" placeholder="Nouvelle valeur" required>
              </label>
              <button ng-disabled="myForm.$invalid" class="button button-full button-stable buttonEmp" ng-click="sendPJ(mail);closeModal(4)">Envoyer</button>
            </ion-list>
          </form>
          <div class="padding">
            <p ng-show="myForm.mail.$error.required">* Nouvelle valeur est obligatoire</p>
          </div>
        </div>
      </div>
    </script>


  </ion-content>
</ion-view>
