<ion-view title="Accueil" hide-back-button="true" style="background: white" cache-view="false" hide-nav-bar="true">

  <ion-content has-header="true" padding="true" class="content">

    <p>
      <a href="" onclick="window.open('http://www.capmission.com', '_system');">
        <img class="halfsize" src="resources/img/logo.png" width="230" height="60" align="left>">
      </a><a class="button button-icon ion-ios-more rotate-90 fs-s" ng-app="capMission.parent" ng-controller="ProposCtrl" ng-click="popover.show($event)"></a>
    </p>
    <br><br><br>
    <!--taille:{{parent.entity.students.length}}-->
    <br>
    <div class="divChoix">
    <div ng-show="parent.entity.students.length > '1'">
      {{parent.entity.name}}, choisissez un enfant : </div>
    <div ng-show="parent.entity.students.length == '1'"><strong>
      {{parent.entity.name}}</strong>, cliquez pour visualiser le planning de votre enfant : </div>
    <div ng-show="parent.entity.students.length == '0'"><strong>
      {{parent.entity.name}}</strong>,désolés, nous n'avons pas pu trouvé vos enfants, veuillez contacter Cap Mission pour plus
      d'informations ! </div>
    </div>
    <br><br>

    <div   ng-repeat="children in parent.entity.students" ng-if="parent.entity.name != children.name" >
      <div ng-app="capMission.parent" ng-controller="EnfantCtrl">
      <center>  <button ng-click="getd(children.id);getTimetable(children.id)" class=" button buttonLogin icon-right ion-chevron-right ">{{children.name}}</button></center>
      <br>
      </div>
    </div>




  </ion-content>

</ion-view>

<!-- class="card card-block card-inverse card-primary text-xs-center">
