<ion-view  title='<img class="title-image" src="parent/icon.png"> Inscription </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>


  <ion-content>
    <div ng-controller="InscriptionCtrl">
      <div>
        <br><br>
        Veuillez remplir ce formuliaire afin que nous puissions vous proposez un service à la hauteur de vos attentes :
        <br><br>
        <form name="myForm">
          <div id="instruc2">Nom et Prénom :<input id="formBlanc" type="text" name="nomPrenomP" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="nomPrenomP" data-ng-blur="getNomPrenomP()" required></div>
          <center><p id="erreur" ng-show="myForm.nomPrenomP.$error.pattern"><i class="icon ion-alert-circled">&nbsp;&nbsp;Utiliser seulement des lettres !</i></p></center>
          <div id="instruc2">Téléphone :<input id="formBlanc" ng-minlength="10" ng-maxlength="10" name="telP" ng-model="telP" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" required></div>
          <center><p id="erreur" ng-show="myForm.telP.$error.minlength "><i class="icon ion-alert-circled">&nbsp;&nbsp;Un numéro de téléphone se compose de 10 chiffres !</i></p></center>
          <center><p id="erreur" ng-show="myForm.telP.$error.maxlength "><i class="icon ion-alert-circled">&nbsp;&nbsp;Un numéro de téléphone se compose de 10 chiffres !</i></p></center>
          <!--<div id="instruc2">E-mail :<input id="formBlanc" type="email" name="emailP" ng-model="emailP" required></div>-->
          <!--<center><p id="erreur" ng-show="myForm.emailP.$error.email "><i class="icon ion-alert-circled">&nbsp;&nbsp;Votre email n'est pas valide !</i></p></center><br><br>-->



          Comment avez-vous connu CapMission ?
          <br><br>
          <div id="inputC">
            <label class="item item-input item-select">
              <div id="instruc" class="input-label">
                Choisissez:
              </div>
              <select id="choix" ng-model="choix" required>
                <option>Réseaux sociaux</option>
                <option>SMS</option>
                <option>E-mail</option>
                <option>Flyer</option>
                <option>Panneau d'affichage</option>
                <option>Bouche à oreille </option>
                <option>Site web</option>
                <option>Autre</option>
              </select>
            </label>
          </div>
          <br>
          <!--<div ng-if="choix == 'Autre'">-->
          <div ng-show="choix == 'Autre'">
            <center><textarea id="txtarea" class='autoExpand' col="15" data-ng-model="bodyAutre" data-ng-blur="getAutreRaison()" placeholder="Si autre, dites nous par quel(s) moyen(s)." name="msg"></textarea></center>
          </div> <br><br>
          <!--{{nomPrenomP}}<br>{{telP}}<br>{{emailP}}<br>{{choix}}<br>{{bodyAutre}}-->
          <div>
            <button class="button button-small buttonEmp1" ng-disabled="myForm.$invalid" ng-model="catalogue" ng-click="goCatalogue(nomPrenomP, telP, emailP, choix, bodyAutre)">Consulter<br>notre<br>Catalogue</button>
            <button class="button button-small buttonEmp1" ng-disabled="myForm.$invalid" ng-model="cours" ng-click="goCours(nomPrenomP, telP, emailP, choix, bodyAutre)">Commander<br>un ou des<br>Cours</button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>

