<ion-view title="Connexion" hide-back-button="true" style="background: white" cache-view="false" hide-nav-bar="true">

      <ion-content has-header="true" padding="true">
       <div style="border-style: hidden" class="item item-image" >
         <a href="" onclick="window.open('http://www.capmission.com', '_system');">
        <img src="resources/img/logo.png">
           </a>
        </div>
          <div class="list list-inset"  style="background: white">
          <!--div class="card">
             <div class="item item-text-wrap">
             Choisissez une méthode de connexion !
            </div>
          </div-->
            <form name="myForm" id="myForm" novalidate ng-controller="capController">
          <div class="list list-inset">
            <br>
            <label class="item item-input">
              <input id="instruc" type="text" class="lower" name="login" ng-model="user.login" placeholder="Login" ng-init="user.login = username"
                     required>
            </label>
            <label class="item item-input">
              <input id="instruc" type="password" name="password" ng-model="user.password" placeholder="Password"
                     ng-init="user.password = password"  required>
            </label><br>
            <div class="padding">
              <button class="button button-small buttonEmp2" ng-disabled="myForm.$invalid"
                      ng-click="login(user)">Se connecter
            </button><br><br>
              <!--<button class="button button-small buttonEmp2" ng-controller="LoginCtrl"
                      ng-click="loginFacebook()">Login avec Facebook
              </button>-->
              <br><br>

              <div padding="true">
                <nobr>
                <input type="checkbox" id="checkbox65" class="css-checkbox med" ng-checked="checkStatus"
                       ng-model='checkStatus'
                       ng-init="checkStatus">
                <label for="checkbox65" id="checkbox65" class="css-label med elegant" >Se souvenir de moi</label>
                </nobr>
              </div>

              <br>

              <div id="instruc"  ng-controller="LoginCtrl" ng-click="goMdpPage()"><i class="icon ion-locked">&nbsp;&nbsp;Identifiants oubliés</i></div><br>
</div>
          </div>
            </form>
            <div class="padding">
              <p ng-show="myForm.login.$error.required">* Login obligatoire</p>
              <p ng-show="myForm.password.$error.required">* Mot de passe obligatoire</p>
            </div>
            <br><br><br>

            <!--<div class="bar bar-footer" ng-controller="LoginCtrl">-->
              <!--<button class="button button-small buttonEmp" ng-model="insc" ng-click="goInscription()">S'incrire à CapMission</button>-->
            <!--</div>-->
            <!-- <div class="padding">
             <button style="background-color:#3b5998 " ng-click="authenticate('facebook')" class="button button-block icon-left ion-social-facebook" >
                   &nbsp;Login avec Facebook
               </button>
                <button style="background-color:#dd4b39" ng-click="authenticate('google')" class="button button-block icon-left ion-social-googleplus">
                   &nbsp;Login avec Google+
               </button>

             </div>-->

      </div></ion-content>
 <!-- <ion-footer-bar>
    <div class="bar bar-footer" ng-controller="LoginCtrl">

      <button class="button button-small buttonEmp" ng-model="insc" ng-click="goInscription()">S'incrire à CapMission</button>
    </div>
  </ion-footer-bar>-->


  </ion-view>
