<ion-view  title='<img class="title-image" src="parent/icon.png"> Nombre de Jours  </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>


  <ion-content>
    <div ng-controller="NbJoursNnInscritCtrl">
      <div>
        <br><br>
        Dites nous votre préférence concernant la date de début du ou des cours :<br>
        <form name="myForm">
        <div id="instruc">Date :<input id="formBlanc" type="date" ng-model="dateDebCours" required></div><br><hr>
        Souhaitez-vous plusieurs cours ?<br><br>
          <center>
            <input class="oui" type="radio" value="oui" id="squaredOui" name="oui" ng-model="boutonRadioOui" selected/>
            <label id="instruc" class="oui" for="squaredOui">Oui</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="non" type="radio" value="non" id="squaredNon" name="non" ng-model="boutonRadioOui" />
            <label id="instruc" class="non" for="squaredNon">Non</label>
          </center>
        </form><br>

        <div ng-show="boutonRadioOui == 'oui'">
          <hr>
          Choix du nombre de jours par semaine :
          <br><br>
          <form name="myForm">
            <center><input type="radio" value="1" id="squared1" name="nb1" ng-model="boutonRadio" selected/>
              <label id="instruc" for="squared1">1</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" value="2" id="squared2" name="nb2" ng-model="boutonRadio" />
              <label id="instruc" for="squared2">2</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" value="3" id="squared3" name="nb3" ng-model="boutonRadio"/>
              <label id="instruc" for="squared3">3</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" value="4" id="squared4" name="nb4" ng-model="boutonRadio"/>
              <label id="instruc" for="squared4">4</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" value="5" id="squared5" name="nb5" ng-model="boutonRadio"/>
              <label id="instruc" for="squared5">5</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" value="6" id="squared6" name="nb6" ng-model="boutonRadio"/>
              <label id="instruc" for="squared6">6</label></center>
          </form>
        </center>
        <br><br></div>

        <!--A quel moment de la journée souhaitez-vous prendre un cours ?<br><br>-->
        <!--<form>-->
          <!--<center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadioMatin"/>-->
            <!--<label id="instruc">Matin</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--<input type="checkbox" value="debut après-midi" id="squaredApDeb" name="debutAp" ng-model="boutonRadioAp"/>-->
            <!--<label id="instruc">Apès-Midi</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--<input type="checkbox" value="Soirée" name="soiree" ng-model="boutonRadioSoir"/>-->
            <!--<label id="instruc">Soir</label>-->
          <!--</center>-->
        <!--</form><br>-->

        <br>
        <div>
          <button class="button button-small icon-right ion-chevron-right buttonEmp" ng-model="cours" ng-click="goDispo(nomPrenomParent, telParent, emailParent, choixP,
           raisonAutre, nomPrenomE, telE, emailE, dateNaissanceE, ecoleE, coursParticulier, coursEnGroupe, choixMiss, choixS, choixN, choixMat, dateDebCours, boutonRadioOui, boutonRadio)">Suivant</button>
        </div>
        <br><br>

      <!--Veuillez nous indiquer à partir de quelle heure vous êtes disponible :-->
      <!--<div class="item range">-->
        <!--8h-->
        <!--<input type="range" name="volume" min="8" max="21" value="{{slider.rangeValue}}" ng-model="slider.rangeValue">-->
        <!--21h-->
      <!--</div>-->
      <!--&lt;!&ndash;<div class="item item-divider">&ndash;&gt;-->
        <!--Début : {{slider.rangeValue+'h'}}-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--<div ng-if="boutonRadioMatin && boutonRadioOui == 'non'">-->
        <!--Voici les disponibilités que nous pouvons vous proposer pour le matin :<br><br>-->
        <!--<center>-->
          <!--<table id="tableau">-->
            <!--<tr id="jour">-->
              <!--<td></td>-->
              <!--<td>Lun</td>-->
              <!--<td>Mar</td>-->
              <!--<td>Mer</td>-->
              <!--<td>Jeu</td>-->
              <!--<td>Ven</td>-->
              <!--<td>Sam</td>-->
            <!--</tr>-->

            <!--<tr>-->
              <!--<td>8h</td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio8h0"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio8h1"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio8h2"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio8h3"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio8h4"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio8h5"/></center></td>-->
            <!--</tr>-->

            <!--<tr>-->
              <!--<td>9h</td>-->
              <!--<td id="indisp"></td>-->
              <!--<td id="indisp"></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio9h1"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio9h2"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio9h3"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio9h4"/></center></td>-->
            <!--</tr>-->

            <!--<tr>-->
              <!--<td>10h</td>-->
              <!--<td id="indisp"></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio10h1"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio10h2"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio10h3"/></center></td>-->
              <!--<td id="indisp"></td>-->
              <!--<td id="indisp"></td>-->
            <!--</tr>-->

            <!--<tr>-->
              <!--<td>11h</td>-->
              <!--<td id="indisp"></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio11h1"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio11h2"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio11h3"/></center></td>-->
              <!--<td id="indisp"></td>-->
              <!--<td id="indisp"></td>-->
            <!--</tr>-->

            <!--<tr>-->
              <!--<td>12h</td>-->
              <!--<td id="indisp"></td>-->
              <!--<td id="indisp"></td>-->
              <!--<td id="indisp"></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio12h1"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio12h2"/></center></td>-->
              <!--<td id="disp"><center><input type="checkbox" value="matin" name="matin" ng-model="boutonRadio12h3"/></center></td>-->
            <!--</tr>-->
          <!--</table>-->
        <!--</center>-->
      <!--</div><br>-->

        <!--<div ng-if="boutonRadioAp && boutonRadioOui == 'non'">-->
          <!--Voici les disponibilités que nous pouvons vous proposer pour l'après-midi-début :<br><br>-->
          <!--<center>-->
            <!--<table id="tableau">-->
              <!--<tr id="jour">-->
                <!--<td></td>-->
                <!--<td>Lun</td>-->
                <!--<td>Mar</td>-->
                <!--<td>Mer</td>-->
                <!--<td>Jeu</td>-->
                <!--<td>Ven</td>-->
                <!--<td>Sam</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>13h</td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>14h</td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>15h</td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="indisp"></td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>16h</td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>16h</td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>17h</td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
              <!--</tr>-->
            <!--</table>-->
          <!--</center>-->

        <!--</div><br>-->

        <!--<div ng-if="boutonRadioSoir && boutonRadioOui == 'non'">-->
          <!--Voici les disponibilités que nous pouvons vous proposer pour le soir :<br><br>-->
          <!--<center>-->
            <!--<table id="tableau">-->
              <!--<tr id="jour">-->
                <!--<td></td>-->
                <!--<td>Lun</td>-->
                <!--<td>Mar</td>-->
                <!--<td>Mer</td>-->
                <!--<td>Jeu</td>-->
                <!--<td>Ven</td>-->
                <!--<td>Sam</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>18h</td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>19h</td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>20h</td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="indisp"></td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>21h</td>-->
                <!--<td id="indisp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
                <!--<td id="disp"></td>-->
              <!--</tr>-->
            <!--</table>-->
          <!--</center>-->
        <!--</div><br>-->

        <!--<div>-->
          <!--<button class="button button-small icon-right ion-chevron-right buttonEmp" ng-disabled="myForm.$invalid" ng-model="cours" ng-click="goMatiere(nomPrenomParent, telParent, emailParent, choixP, raisonAutre, nomPrenomE, dateNaissanceE, telE,-->
          <!--emailE, ecoleE, coursParticulier, coursEnGroupe)">Suivant</button>-->
        <!--</div>-->
        <!--<br><br>-->

      <!--&lt;!&ndash; Pour 1 jour &ndash;&gt;-->
      <!--<div ng-switch on="boutonRadio">-->
        <!--<div ng-switch-when="1">-->
          <!--<form name="myForm" method="POST">-->
            <!--<div id="instruc">Heure :<input id="formBlanc" type="time" ng-model="heureDebCours" required></div>-->
            <!--<br>-->
            <!--<div id="instruc">Date :<input id="formBlanc" type="date" ng-model="dateDebCours" required></div><br><br>-->
            <!--<center><button class="button button-small icon-right ion-chevron-right buttonEmp" type="submit" ng-model="nbJours1" ng-disabled="myForm.$invalid" value="1" ng-click="goRecapitulatif1(nomPrenomParent, telParent, emailParent, choixP,-->
           <!--raisonAutre, nomPrenomE, telE, emailE, dateNaissanceE, ecoleE, coursParticulier, coursEnGroupe, choixMiss, choixS, choixN, choixMat, boutonRadio, heureDebCours, dateDebCours)">-->
              <!--Suivant-->
            <!--</button>-->
            <!--</center>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash; Pour 2 jours &ndash;&gt;-->
      <!--<div ng-switch on="boutonRadio">-->
        <!--<div ng-switch-when="2">-->
          <!--<form name="myForm" method="POST">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours1" required></div>-->
            <!--<br>-->
            <!--<div id="inputC">-->
              <!--<label class="item item-input item-select">-->
                <!--<div id="instruc" class="input-label">-->
                  <!--Jour:-->
                <!--</div>-->
                <!--<select id="jour" ng-model="jourCours1" required>-->
                  <!--<option>Lundi</option>-->
                  <!--<option>Mardi</option>-->
                  <!--<option>Mercredi</option>-->
                  <!--<option>Jeudi</option>-->
                  <!--<option>Vendredi</option>-->
                  <!--<option>Samedi</option>-->
                <!--</select>-->
              <!--</label>-->
            <!--</div><br>-->

            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours2" required></div>-->
            <!--<br>-->
            <!--<div id="inputC">-->
              <!--<label class="item item-input item-select">-->
                <!--<div id="instruc" class="input-label">-->
                  <!--Jour:-->
                <!--</div>-->
                <!--<select id="jour" ng-model="jourCours2" required>-->
                  <!--<option>Lundi</option>-->
                  <!--<option>Mardi</option>-->
                  <!--<option>Mercredi</option>-->
                  <!--<option>Jeudi</option>-->
                  <!--<option>Vendredi</option>-->
                  <!--<option>Samedi</option>-->
                <!--</select>-->
              <!--</label>-->
            <!--</div><br><br>-->
            <!--<center><button class="button button-small icon-right ion-chevron-right buttonEmp" type="submit" ng-model="nbJours2" ng-disabled="myForm.$invalid" value="2" ng-click="goRecapitulatif2(nomPrenomParent, telParent, emailParent, choixP,-->
           <!--raisonAutre, nomPrenomE, telE, emailE, dateNaissanceE, ecoleE, coursParticulier, coursEnGroupe, choixMiss, choixS, choixN, choixMat, boutonRadio, heureDebCours1, heureDebCours2, jourCours1, jourCours2)">-->
              <!--Suivant-->
            <!--</button>-->
            <!--</center>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash; Pour 3 jours &ndash;&gt;-->
      <!--<div ng-switch on="boutonRadio">-->
        <!--<div ng-switch-when="3">-->
          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours1" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours1" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours2" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours2" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours3" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours3" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br><br>-->
          <!--<center><button class="button button-small icon-right ion-chevron-right buttonEmp" ng-model="nbJours3" value="3" ng-disabled="myForm.$invalid" ng-click="goRecapitulatif3(nomPrenomParent, telParent, emailParent, choixP,-->
           <!--raisonAutre, nomPrenomE, telE, emailE, dateNaissanceE, ecoleE, coursParticulier, coursEnGroupe, choixMiss, choixS, choixN, choixMat, boutonRadio, heureDebCours1, heureDebCours2, heureDebCours3, jourCours1, jourCours2, jourCours3)">-->
            <!--Suivant-->
          <!--</button></center>-->
        <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash; Pour 4 jours &ndash;&gt;-->
      <!--<div ng-switch on="boutonRadio">-->
        <!--<div ng-switch-when="4">-->
          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours1" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours1" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours2" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours2" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours3" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours3" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours4" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours4" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br><br>-->
          <!--<center><button class="button button-small icon-right ion-chevron-right buttonEmp" ng-model="nbJours4" value="4" ng-disabled="myForm.$invalid" ng-click="goRecapitulatif4(nomPrenomParent, telParent, emailParent, choixP,-->
           <!--raisonAutre, nomPrenomE, telE, emailE, dateNaissanceE, ecoleE, coursParticulier, coursEnGroupe, choixMiss, choixS, choixN, choixMat, boutonRadio, heureDebCours1, heureDebCours2, heureDebCours3, heureDebCours4,-->
           <!--jourCours1, jourCours2, jourCours3, jourCours4)">-->
            <!--Suivant-->
          <!--</button></center>-->
        <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash; Pour 5 jours &ndash;&gt;-->
      <!--<div ng-switch on="boutonRadio">-->
        <!--<div ng-switch-when="5">-->
          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours1" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours1" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours2" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours2" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours3" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours3" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours4" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours4" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours5" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours5" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br><br>-->
          <!--<center><button class="button button-small icon-right ion-chevron-right buttonEmp" ng-model="nbJours4" value="4" ng-disabled="myForm.$invalid" ng-click="goRecapitulatif5(nomPrenomParent, telParent, emailParent, choixP,-->
           <!--raisonAutre, nomPrenomE, telE, emailE, dateNaissanceE, ecoleE, coursParticulier, coursEnGroupe, choixMiss, choixS, choixN, choixMat, boutonRadio, heureDebCours1, heureDebCours2, heureDebCours3, heureDebCours4,-->
           <!--heureDebCours5, jourCours1, jourCours2, jourCours3, jourCours4, jourCours5)">-->
            <!--Suivant-->
          <!--</button></center>-->
        <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash; Pour 6 jours &ndash;&gt;-->
      <!--<div ng-switch on="boutonRadio">-->
        <!--<div ng-switch-when="6">-->
          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours1" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours1" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours2" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours2" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours3" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours3" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours4" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours4" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours5" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours5" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br>-->

          <!--<form name="myForm" ng-submit="submitTable()">-->
            <!--<div id="instruc">Heure:<input id="formBlanc" type="time" ng-model="heureDebCours6" required></div>-->
          <!--</form><br>-->
          <!--<div id="inputC">-->
            <!--<label class="item item-input item-select">-->
              <!--<div id="instruc" class="input-label">-->
                <!--Jour:-->
              <!--</div>-->
              <!--<select id="jour" ng-model="jourCours6" required>-->
                <!--<option>Lundi</option>-->
                <!--<option>Mardi</option>-->
                <!--<option>Mercredi</option>-->
                <!--<option>Jeudi</option>-->
                <!--<option>Vendredi</option>-->
                <!--<option>Samedi</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div><br><br>-->
          <!--<center><button class="button button-small icon-right ion-chevron-right buttonEmp" ng-model="nbJours4" value="4" ng-disabled="myForm.$invalid" ng-click="goRecapitulatif6(nomPrenomParent, telParent, emailParent, choixP,-->
           <!--raisonAutre, nomPrenomE, telE, emailE, dateNaissanceE, ecoleE, coursParticulier, coursEnGroupe, choixMiss, choixS, choixN, choixMat, boutonRadio, heureDebCours1, heureDebCours2, heureDebCours3, heureDebCours4,-->
           <!--heureDebCours5, heureDebCours6, jourCours1, jourCours2, jourCours3, jourCours4, jourCours5, jourCours6)">-->
            <!--Suivant-->
          <!--</button></center>-->
        <!--</div>-->
      <!--</div>-->


      <!--{{nomPrenomParent}}<br>-->
      <!--{{telParent}}<br>-->
      <!--{{emailParent}}<br>-->
      <!--{{choixP}}<br>-->
      <!--{{raisonAutre}}-->
      <!--{{nomPrenomE}}<br>-->
      <!--{{telE}}<br>-->
      <!--{{emailE}}<br>-->
      <!--{{ecoleE}}<br>-->
      <!--{{dateNaissanceE}}<br>-->
      <!--{{choixMiss}}<br>-->
      <!--{{choixS}}<br>-->
      <!--{{choixN}}<br>-->
      <!--{{choixMat}}<br>-->
      <!--{{coursParticulier}}<br>-->
      <!--{{coursEnGroupe}}<br>-->
    </div>
    </div>
  </ion-content>
</ion-view>


