<ion-view  title='<img class="title-image" src="parent/icon.png"> Nombre de Jours  </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <!--<a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>-->
  </ion-nav-buttons>


  <ion-content>
    <div ng-controller="NbJoursNnInscritCtrl">
      <div>
        <br><br>
        Dites nous votre préférence concernant la date de début du ou des cours :<br><br>
        <form name="myForm">
        <div id="instruc">Date :<input id="formBlanc" type="date" min="{{dateNow}}" ng-model="dateCours" required></div><br>


        <br>
        <div ng-if="coursParticulier == 'Cours en Groupe'">
          <button ng-disabled="myForm.$invalid" class="button button-small icon-right ion-chevron-right buttonEmp" ng-model="cours" ng-click="goDisp(nomPrenomParent, telParent, emailParent, choixP, raisonAutre,
          nomPrenomE, telE, emailE, dateNaissanceE, ecoleE, coursParticulier, coursEnGroupe, choixMiss, choixS, choixN, choixMat, dateCours)">Suivant</button>
        </div>


          <div ng-if="coursParticulier == 'Cours Particulier'">
            <button ng-disabled="myForm.$invalid" class="button button-small icon-right ion-chevron-right buttonEmp" ng-model="cours" ng-click="goDispo(nomPrenomParent, telParent, emailParent, choixP, raisonAutre,
          nomPrenomE, telE, emailE, dateNaissanceE, ecoleE, coursParticulier, coursEnGroupe, choixMiss, choixS, choixN, choixMat, choixF, dateCours)">Suivant</button>
          </div></form>
        <br>

        <div class="padding">
          <p ng-show="myForm.dateDebCours.$error.min">* Date erronée</p>
          <p ng-show="myForm.dateDebCours.$error.required"></p>
        </div>

    </div>
    </div>
  </ion-content>
</ion-view>


