<ion-view title="Accueil" hide-back-button="true" style="background: white" cache-view="false" hide-nav-bar="true">
  <ion-content has-header="true" padding="true" class="content">
    <p>
      <a href="" onclick="window.open('http://www.capmission.com', '_system');">
        <img class="halfsize" src="resources/img/logo.png" width="230" height="60" align="left>">
      </a><a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
    </p>
    <br><br><br>
    <div class="divRole">
      Se connecter en tant que :
    <br><br><br>

    <div  ng-app="capMission.parent" ng-controller="ChoixCtrl">
      <center>
        <button ng-click="getP(idParent)" class=" button buttonLogin icon-right ion-chevron-right ">Tuteur</button>
      </center>
      <br>
    </div>


    <div  ng-app="capMission.teacher" ng-controller="TeacherCtrl">
      <center>
        <button ng-click="getT(idTeacher)" class="button buttonLogin icon-right ion-chevron-right">Enseignant</button>
      </center>
      <br>
    </div>


    <div  ng-app="capMission.student" ng-controller="StudentCtrl">
      <center>
        <button ng-click="getS(idStudent)" class="button buttonLogin icon-right ion-chevron-right">Etudiant</button>
      </center>
    </div><br>

      </div>
    <!--<a class="icon ios-walk-outline Quit" ng-app="capMission" ng-controller="LogoutCtrl" ng-click="logout()"></a>-->
  </ion-content>
  <!--<div id="foo"><a href="#" ng-controller="LogoutCtrl" ng-click="logout()"><i class="ion-log-out"> Quitter</i></a></div>-->

</ion-view>
