<ion-view title="Accueil" hide-back-button="true" style="background: white" cache-view="false" hide-nav-bar="true">

  <ion-content has-header="true" padding="true">
    <div style="border-style: hidden" class="item item-image" >
      <a href="http://www.capmission.com">
        <img src="resources/img/logo.png">
      </a>
    </div>
    <br><br><br>
    <div class="divRole">
     Vous êtes ? :
    <br><br><br>

    <div  ng-app="capMission.parent" ng-controller="ChoixCtrl">
      <center>  <button ng-click="get(resp.entity.id)" class="button icon-right ion-chevron-right buttonEmp" >Parent</button></center>
      <br>
    </div>


    <div  ng-app="capMission.teacher" ng-controller="TeacherCtrl">
      <center>  <button ng-click="get(resp.entity.id)" class="button icon-right ion-chevron-right buttonEmp">Enseignant</button></center>
      <br>
    </div>


    <div  ng-app="capMission.student" ng-controller="StudentCtrl">
      <center>  <button ng-click="get(resp.entity.id)" class="button icon-right ion-chevron-right buttonEmp" >Etudiant</button></center>
    </div><br>

      </div>
  </ion-content>
</ion-view>
