<!-- En tête de l'application -->

<ion-view  title='<img class="title-image" src="parent/icon.png"> Choix Matière </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>

    <ion-tab title="Planning" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" badge="badgehome"
             badge-style="badge-assertive" ng-controller="SProposCtrl" ng-click="sgoChoix()">

    </ion-tab>


    <!--<ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>-->


    <ion-tab title="Solde" href="#/student/solde" icon-off="icon ion-ios-calculator-outline" icon-on="icon ion-ios-calculator">

    </ion-tab>
    <ion-tab title="Ajout cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
             badge="badgeMessages" badge-style="badge-assertive" ng-controller="SAjoutCoursCtrl" ng-click="choixMatiere(student.entity.id)">
    </ion-tab>

  </ion-tabs>
  <br><br><br><br>
  <!-- Contenu -->
  <ion-content>
    <br><br><br><br><br><br>
    <div ng-view></div>
    <div class="card" ng-controller="PChoixTypeCours">
      <div class="item item-text-wrap">
        <form name="myForm">
          <p id="consigneContact">{{nomEnfant}} -  Niveau : {{niveauN}}</p>
          <div id="listeDeroulante">
            <div class="list">
              <label id="combo" class="item item-input item-select">
                <div id="instruc" class="input-label">
                  Matière
                </div>
                <select id="combo" ng-model="matiere" required>
                  <option ng-repeat="matiere in student.entity.niveau.listCourse" ng-value="matiere.name" required>  <!-- matiereList.entity.listCourse -->
                    {{matiere.name}}
                  </option>
                </select>
              </label>
            </div>
          </div><br>
          <center><button class="button button-small icon-right ion-chevron-right buttonEmp" ng-disabled="myForm.$invalid" ng-model="occ" ng-click="goPage(matiere, niveauN)">
            Suivant
          </button></center></form>
      </div>

    </div>
  </ion-content>
</ion-view>
