<!-- En tête de l'application -->

<ion-view  title='<img class="title-image" src="parent/icon.png"> Nombre de Cours </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>

    <ion-tab title="Planning" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" badge="badgehome"
             badge-style="badge-assertive" ng-controller="SProposCtrl" ng-click="sgoChoix()">

    </ion-tab>

    <!--<ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>-->
    <!--
        <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
                 badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

        </ion-tab>-->

    <ion-tab title="Solde" href="#/student/solde" icon-off="icon ion-ios-calculator-outline" icon-on="icon ion-ios-calculator">

    </ion-tab>
    <ion-tab title="Ajout cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
             badge="badgeMessages" badge-style="badge-assertive" ng-controller="SAjoutCoursCtrl" ng-click="choixMatiere(student.entity.id)">
    </ion-tab>

  </ion-tabs>
  <br><br><br><br>
  <!-- Contenu -->
  <ion-content>
    <br><br><br><br><br><br>
    <div class="card">
      <div class="item item-text-wrap">
        Nombre de cours par semaine souhaité
        <br><br>
        <!--{{coursG}}-->

        <center><div>
          <!-- Choix du nb cours par semaine -->
          <form>
            <input type="radio" value="1" id="squared0" name="nb1" ng-model="boutonRadio" ng-click="goRecap(matiere, niveauN, coursG, coursPar, freq, boutonRadio)"/>
            <label id="instruc" for="squared0">1</label>&nbsp;&nbsp;
            <input type="radio" value="2" id="squared1" name="nb2" ng-model="boutonRadio" ng-click="goRecap(matiere, niveauN, coursG, coursPar, freq, boutonRadio)"/>
            <label id="instruc" for="squared1">2</label>&nbsp;&nbsp;
            <input type="radio" value="3" id="squared2" name="nb3" ng-model="boutonRadio" ng-click="goRecap(matiere, niveauN, coursG, coursPar, freq, boutonRadio)"/>
            <label id="instruc" for="squared2">3</label>&nbsp;&nbsp;
            <input type="radio" value="4" id="squared3" name="nb4" ng-model="boutonRadio" ng-click="goRecap(matiere, niveauN, coursG, coursPar, freq, boutonRadio)"/>
            <label id="instruc" for="squared3">4</label>&nbsp;&nbsp;
            <input type="radio" value="5" id="squared4" name="nb5" ng-model="boutonRadio" ng-click="goRecap(matiere, niveauN, coursG, coursPar, freq, boutonRadio)"/>
            <label id="instruc" for="squared4">5</label>&nbsp;&nbsp;
            <input type="radio" value="6" id="squared5" name="nb6" ng-model="boutonRadio" ng-click="goRecap(matiere, niveauN, coursG, coursPar, freq, boutonRadio)"/>
            <label id="instruc" for="squared5">6</label>
          </form>
        </div></center>

      </div>
    </div>
  </ion-content>
</ion-view>
