<!-- En tête de l'application -->

<ion-view  title='<img class="title-image" src="parent/icon.png"> Récapitulatif </img>' cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-more rotate-90 fs-s" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">


    <ion-tab  hidden="true" >

    </ion-tab>

    <ion-tab title="Planning" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" badge="badgehome"
             badge-style="badge-assertive" ng-controller="SProposCtrl" ng-click="sgoChoix()">

    </ion-tab>


    <!--<ion-tab title="quiz" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" badge="badgequiz"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>


    <ion-tab title="Suivi" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  badge="badgeFollow"
             badge-style="badge-assertive" ng-click="onTabSelected()">

    </ion-tab>-->
    <!--
        <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
                 badge="badgeMessages" badge-style="badge-assertive" ng-click="onTabSelected()">

        </ion-tab>-->

    <ion-tab title="Solde" href="#/student/solde" icon-off="icon ion-ios-calculator-outline" icon-on="icon ion-ios-calculator">

    </ion-tab>
    <ion-tab title="Ajout cours" icon-off="ion-android-add-circle" icon-on="icon ion-android-add-circle"
             badge="badgeMessages" badge-style="badge-assertive" ng-controller="SAjoutCoursCtrl" ng-click="choixMatiere(student.entity.id)">
    </ion-tab>

  </ion-tabs>

  <!-- Contenu -->
  <ion-content>
    <br><br>

    <div class="card" ng-controller="SRecapStageIntensifCtrl">

      <!--{{vacances}}-->
      <!--{{stageIntensif}}-->

      <!--essaie-->
      <div id="listRecap" class="list">

        <div class="item item-divider">
          Récapitulatif de votre demande :
        </div>

        <!-- Nom et prénom de l'élève -->
        <div id="instruc1" class="item item-icon-left">
          <i id="iconC" class="icon ion-person"></i>
          Elève
          <span class="item-note">
            {{eleve.entity.name}}
          </span>
        </div>

        <!-- Niveau -->
        <div id="instruc1" class="item item-icon-left">
          <i id="iconC" class="icon ion-briefcase"></i>
          Niveau
          <span class="item-note">
            {{niv}}
          </span>
        </div>

        <!-- Matiere -->
        <div id="instruc1" class="item item-icon-left">
          <i id="iconC" class="icon ion-edit"></i>
          Matière
          <span class="item-note">
            {{mat}}
          </span>
        </div>

        <div class="item item-divider">
          Période Scolaire :
        </div>

        <!-- Pour afficher le nom de la période de vacances du stage intensif -->
        <div id="instruc1" class="item item-icon-left">
          <i id="iconC" class="icon ion-calendar"></i>
          Vacances
          <span class="item-note">
            {{vacances}}
          </span>
        </div>

        <div class="item item-divider">
          Total :
        </div>

        <!-- prix du stage -->
        <div id="instruc1" class="item item-icon-left">
          <i id="iconC" class="icon ion-calculator"></i>
          Prix :
          <span class="item-note">
            {{stageIntens}}
          </span>
        </div>



        <!-- Prix cours groupe aide aux devoir ou auyda a los deberes -->
        <!--<div ng-if="mat == 'Ayuda a los deberes' || mat == 'Aide aux devoirs'">-->
        <!--<div id="instruc1" class="item item-icon-left">-->
        <!--<i id="iconC" class="icon ion-calculator"></i>-->
        <!--Prix :-->
        <!--<span class="item-note">-->
        <!--{{coursG}}-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <!--fin essaie-->

      <form name="myForm" novalidate>
        <input ng-model="id" type="hidden">
        <input ng-model="parent" type="hidden">
        <input ng-model="mail.to" type="hidden">
        <input ng-model="mail.from" type="hidden">
        <input ng-model="mail.subject" type="hidden"><br>
        <label class="item item-input">
         <textarea class='autoExpand' rows='3' col="15" data-min-rows='3' ng-model="mail.body"
                   placeholder="Votre remarque" name="msg" required></textarea>
        </label>

        <center>
          <button ng-disabled="myForm.$invalid" class="button button-small buttonEmail button-dark "
                  ng-click="sendR(mail, mat, niv, stageIntens, vacances)">Envoyer       <!--modal.hide()-->
          </button>
        </center>
      </form>
      <div class="padding">
        <p ng-show="myForm.msg.$error.required">* Message est obligatoire</p>
      </div>
    </div>
  </ion-content>
</ion-view>

